@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
/* CSS Reset (Eric Meyer's Reset v2.0) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Big Shoulders Display";
  src: url("./fonts/BigShouldersDisplay/BigShouldersDisplay-Bold.eot");
  src: local("Big Shoulders Display Bold"), local("BigShouldersDisplay-Bold"), url("./fonts/BigShouldersDisplay/BigShouldersDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/BigShouldersDisplay/BigShouldersDisplay-Bold.woff2") format("woff2"), url("./fonts/BigShouldersDisplay/BigShouldersDisplay-Bold.woff") format("woff"), url("./fonts/BigShouldersDisplay/BigShouldersDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Accord Alternate";
  src: url("./fonts/AccordAlternate/AccordAlternate-Regular.eot");
  src: local("Accord Alternate Regular"), local("AccordAlternate-Regular"), url("./fonts/AccordAlternate/AccordAlternate-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/AccordAlternate/AccordAlternate-Regular.woff2") format("woff2"), url("./fonts/AccordAlternate/AccordAlternate-Regular.woff") format("woff"), url("./fonts/AccordAlternate/AccordAlternate-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Accord Alternate";
  src: url("./fonts/AccordAlternate/AccordAlternate-Bold.eot");
  src: local("Accord Alternate Bold"), local("AccordAlternate-Bold"), url("./fonts/AccordAlternate/AccordAlternate-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/AccordAlternate/AccordAlternate-Bold.woff2") format("woff2"), url("./fonts/AccordAlternate/AccordAlternate-Bold.woff") format("woff"), url("./fonts/AccordAlternate/AccordAlternate-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* Layout */
/* Typography */
.header {
  background-image: url(./../img/bg/bg-header.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: auto;
  aspect-ratio: 1920/1165;
  max-height: 100dvh;
  margin: 0 auto;
  min-width: 100%;
}
.home .header {
  background-image: url(./../img/bg/bg-header--home.webp);
}
@media (max-width: 767px) {
  .header {
    aspect-ratio: auto;
    background-size: cover;
    height: 540px;
  }
}
.header__logo {
  position: absolute;
  top: 30px;
  left: 30px;
}
@media (max-width: 1599px) {
  .header__logo img {
    width: 350px;
  }
}
@media (max-width: 1199px) {
  .header__logo img {
    width: 250px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    left: 20px;
    top: 70px;
  }
  .header__logo img {
    width: 200px;
  }
}
.header__menu {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header__menu {
    top: 20px;
    left: 20px;
  }
}
.header__btn {
  appearance: none;
  -webkit-appearance: none;
  background-color: #ff990e;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 50px;
  padding: 20px 40px;
}
.header__btn span {
  margin-right: 15px;
  margin-top: -0.1em;
  font-size: 27px;
  font-weight: 600;
  color: white;
  line-height: 1em;
}
@media (max-width: 1549px) {
  .header__btn {
    padding: 15px 30px;
  }
  .header__btn span {
    font-size: 24px;
  }
  .header__btn svg {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 1199px) {
  .header__btn {
    padding: 15px 30px;
  }
  .header__btn span {
    font-size: 20px;
  }
  .header__btn svg {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 991px) {
  .header__btn {
    padding: 12px 20px;
  }
  .header__btn span {
    font-size: 20px;
    margin-right: 10px;
  }
  .header__btn svg {
    width: 16px;
    height: 16px;
  }
}
.header__linkedin {
  margin-right: 25px;
}
.header__linkedin img {
  display: block;
}
@media (max-width: 1549px) {
  .header__linkedin img {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 991px) {
  .header__linkedin {
    margin-right: 15px;
  }
}
.header__payoff {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 767px) {
  .header__payoff {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.header__payoff {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.home .header__payoff {
  top: 260px;
  transform: none;
}
.blog .header__payoff {
  width: 1340px;
}
.header__payoff h1 {
  color: white;
  font-size: 100px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -0.025em;
  text-align: center;
}
.home .header__payoff h1 {
  text-align: left;
}
@media (max-width: 1549px) {
  .header__payoff h1 {
    color: white;
    font-size: 60px;
  }
}
@media (max-width: 1199px) {
  .home .header__payoff {
    top: 180px;
  }
}
@media (max-width: 991px) {
  .header__payoff {
    padding-top: 80px;
  }
  .home .header__payoff {
    top: 150px;
    padding-top: 0;
  }
  .header__payoff h1 {
    font-size: 50px;
  }
  .header__payoff h1 br {
    display: none;
  }
}
@media (max-width: 767px) {
  .header__payoff h1 {
    font-size: 42px;
  }
}
.home .header__payoff {
  position: absolute;
  left: 50%;
  transform: translateX(-100%);
  width: auto;
  max-width: none;
  padding: 0;
  text-align: left;
}
@media (max-width: 991px) {
  .home .header__payoff {
    left: 30px;
    transform: none;
    margin-top: auto;
  }
}
@media (max-width: 767px) {
  .home .header__payoff {
    left: 20px;
    transform: none;
  }
}
@media (max-width: 599px) {
  .home .header__payoff h1 {
    max-width: 230px;
  }
}
.header__cta {
  background-color: #023f5c;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
}
.header__cta a,
.header__cta button,
.header__cta span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.header__cta a span,
.header__cta button span,
.header__cta span span {
  color: white;
}
.header__cta:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  margin-right: 30px;
}
@media (max-width: 1549px) {
  .header__cta {
    padding: 25px 40px;
  }
  .header__cta a,
.header__cta button,
.header__cta span {
    font-size: 30px;
  }
  .header__cta:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .header__cta a,
.header__cta button,
.header__cta span {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .header__cta:before {
    margin-right: 10px;
  }
}
.header__cta {
  margin-top: 40px;
}

.why {
  margin-top: 70px;
}
@media (max-width: 1549px) {
  .why {
    margin-top: 50px;
  }
}
.why__container {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 767px) {
  .why__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.why__title {
  font-size: 90px;
  letter-spacing: -0.04em;
  color: #023f5c;
  text-align: center;
}
@media (max-width: 1549px) {
  .why__title {
    font-size: 54px;
  }
}
.why__cols {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 70px;
  gap: 100px;
}
@media (max-width: 1549px) {
  .why__cols {
    gap: 50px;
    margin-top: 50px;
  }
}
@media (max-width: 991px) {
  .why__cols {
    gap: 25px;
  }
}
.why__col {
  color: white;
  position: relative;
  width: calc((100% / 3) - 66.6666666667px);
}
@media (max-width: 1549px) {
  .why__col {
    width: calc((100% / 3) - 33.3333333333px);
  }
}
@media (max-width: 991px) {
  .why__col {
    width: calc((100% / 3) - 20px);
  }
}
@media (max-width: 767px) {
  .why__col {
    width: 100%;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
}
.why__box {
  padding: 90px 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1549px) {
  .why__box {
    padding: 60px 0;
  }
}
@media (max-width: 1259px) {
  .why__box {
    background-size: 100% 100%;
  }
}
.why__box:before, .why__box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: red;
}
@media (max-width: 1549px) {
  .why__box:before, .why__box:after {
    height: 60px;
  }
}
.why__box:after {
  bottom: 0;
  top: auto;
}
@media (max-width: 767px) {
  .why__box {
    background-image: none;
  }
}
.why__box--innovazione {
  background-image: url("../img/bg/bg-innovazione.svg");
}
.why__box--innovazione:before, .why__box--innovazione:after {
  background-color: #9fbacd;
}
@media (max-width: 767px) {
  .why__box--innovazione {
    background-color: #9fbacd;
    background: linear-gradient(to bottom, #fff 0px, #fff 60px, #9fbacd 60px, #9fbacd calc(100% - 60px), #fff calc(100% - 60px), #fff 100%);
  }
  .why__box--innovazione:after {
    background-image: url("../img/bg/bg-innovazione--bottom.svg");
    background-position: bottom center;
    background-size: cover;
    background-color: transparent;
  }
}
.why__box--creativita {
  background-image: url("../img/bg/bg-creativita.svg");
}
.why__box--creativita:before, .why__box--creativita:after {
  background-color: #598ba7;
}
@media (max-width: 767px) {
  .why__box--creativita {
    background-color: #598ba7;
    background: linear-gradient(to bottom, #fff 0px, #fff 60px, #598ba7 60px, #598ba7 calc(100% - 60px), #fff calc(100% - 60px), #fff 100%);
  }
  .why__box--creativita:before {
    background-image: url("../img/bg/bg-creativita--top.svg");
    background-position: top center;
    background-size: cover;
    background-color: transparent;
  }
  .why__box--creativita:after {
    background-image: url("../img/bg/bg-creativita--bottom.svg");
    background-position: bottom center;
    background-size: cover;
    background-color: transparent;
  }
}
.why__box--risultati {
  background-image: url("../img/bg/bg-risultati.svg");
}
.why__box--risultati:before, .why__box--risultati:after {
  background-color: #103b59;
}
@media (max-width: 767px) {
  .why__box--risultati {
    background-color: #103b59;
    background: linear-gradient(to bottom, #fff 0px, #fff 60px, #103b59 60px, #103b59 calc(100% - 60px), #fff calc(100% - 60px), #fff 100%);
  }
  .why__box--risultati:before {
    background-image: url("../img/bg/bg-risultati--top.svg");
    background-position: top center;
    background-size: cover;
    background-color: transparent;
  }
}
.why__star {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}
.why__star img {
  display: block;
}
@media (max-width: 1549px) {
  .why__star img {
    width: 50px;
  }
}
@media (max-width: 991px) {
  .why__star img {
    width: 40px;
    margin-left: -8px;
  }
}
@media (max-width: 767px) {
  .why__star {
    position: absolute;
    top: auto;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.why__icon {
  width: 142px;
  height: 142px;
  display: block;
  margin: 0 auto;
}
.why__subtitle {
  font-size: 60px;
  letter-spacing: -0.05em;
  color: white;
  text-align: center;
}
@media (max-width: 1549px) {
  .why__subtitle {
    font-size: 40px;
  }
}
.why__subtitle {
  margin-top: 30px;
}
.why__text {
  font-size: 28px;
  color: white;
  text-align: center;
  margin-top: 20px;
}
@media (max-width: 1549px) {
  .why__text {
    font-size: 24px;
  }
}
.why__content {
  font-size: 30px;
  line-height: 1.3em;
  color: #023f5c;
  text-align: center;
}
@media (max-width: 1549px) {
  .why__content {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .why__content {
    font-size: 22px;
  }
}
.why__content {
  margin: 70px auto 0;
  max-width: 1100px;
}
@media (max-width: 1549px) {
  .why__content {
    margin-top: 50px;
  }
}

.metodo {
  margin: 120px auto 0;
  padding-bottom: 100px;
  background: linear-gradient(to bottom, #9fbacd, #103a59);
  border-radius: 80px 80px 0 0;
  position: relative;
  text-align: center;
}
.metodo:before {
  content: "";
  display: block;
  background-image: url(./../img/logo-stralent--bg.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 60%;
  position: absolute;
  inset: 0;
}
.metodo__container {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
  margin-top: -40px;
}
@media (max-width: 767px) {
  .metodo__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.metodo__title {
  font-size: 90px;
  letter-spacing: -0.04em;
  color: white;
  text-align: center;
}
@media (max-width: 1549px) {
  .metodo__title {
    font-size: 54px;
  }
}
.metodo__title:before {
  content: "";
  display: block;
  margin: 0 auto;
  background-color: #fe990f;
  width: 20px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.metodo__subtitle {
  font-size: 60px;
  letter-spacing: -0.05em;
  color: white;
  text-align: center;
}
@media (max-width: 1549px) {
  .metodo__subtitle {
    font-size: 40px;
  }
}
.metodo__cols {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 90px;
}
@media (max-width: 991px) {
  .metodo__cols {
    margin-top: 50px;
  }
}
.metodo__col {
  position: relative;
  width: calc((100% / 3) - 26.6666666667px);
}
@media (max-width: 1549px) {
  .metodo__col {
    width: calc((100% / 3) - 20px);
  }
}
@media (max-width: 991px) {
  .metodo__col {
    width: calc((100% / 3) - 20px);
  }
}
@media (max-width: 767px) {
  .metodo__col {
    width: 100%;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 991px) {
  .metodo__col {
    width: 100%;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .metodo__col:last-child {
    margin-bottom: 0;
  }
}
.metodo__heading {
  font-size: 60px;
  letter-spacing: -0.05em;
  color: #023f5c;
  text-align: center;
}
@media (max-width: 1549px) {
  .metodo__heading {
    font-size: 40px;
  }
}
.metodo__heading {
  text-transform: uppercase;
}
.metodo__desc {
  font-size: 30px;
  line-height: 1.3em;
  color: #023f5c;
  text-align: center;
}
@media (max-width: 1549px) {
  .metodo__desc {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .metodo__desc {
    font-size: 22px;
  }
}
.metodo__desc {
  padding: 30px 40px 0;
}
@media (min-width: 1550px) {
  .metodo__desc {
    padding: 40px 60px 0;
  }
}
.metodo__box {
  position: relative;
  background-color: white;
  border-radius: 40px;
  padding: 60px 0px;
}
.metodo__box--comunicazione {
  background-color: #ff990e;
}
.metodo__box--comunicazione * {
  color: white;
}
@media (max-width: 991px) {
  .metodo__box {
    height: auto !important;
  }
}
.metodo__star {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
}
.metodo__star img {
  display: block;
  max-width: 100%;
}
@media (max-width: 1549px) {
  .metodo__star {
    width: 60px;
  }
}
.metodo__tag {
  background-color: white;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
  border: 10px solid #9eb9cd;
  position: relative;
  margin: 0 auto;
  transform: translateY(-50%);
}
.metodo__tag a,
.metodo__tag button,
.metodo__tag span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: #6f8fa7;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.metodo__tag a span,
.metodo__tag button span,
.metodo__tag span span {
  color: #6f8fa7;
}
.metodo__tag:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #6f8fa7;
  margin-right: 30px;
}
@media (max-width: 1549px) {
  .metodo__tag {
    padding: 25px 40px;
  }
  .metodo__tag a,
.metodo__tag button,
.metodo__tag span {
    font-size: 30px;
  }
  .metodo__tag:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .metodo__tag a,
.metodo__tag button,
.metodo__tag span {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .metodo__tag:before {
    margin-right: 10px;
  }
}
.metodo__circle {
  aspect-ratio: 1/1;
  width: 800px;
  max-width: 100%;
  margin: 150px auto 0;
  padding-top: 100px;
  position: relative;
}
@media (max-width: 767px) {
  .metodo__circle {
    margin: 100px auto 0;
    padding: 75px 0;
  }
}
.metodo__circle:before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: #ff990e;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
@media (max-width: 767px) {
  .metodo__circle:before {
    height: 100%;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
.metodo__circle * {
  position: relative;
}
.metodo__circle .metodo__desc {
  color: white;
  margin-top: 25px;
}
@media (max-width: 767px) {
  .metodo__circle .metodo__desc {
    margin-top: 0;
    padding: 30px 0 0;
  }
}
.metodo__cta {
  background-color: white;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
  margin-top: 40px;
  position: absolute;
  bottom: 100px;
  right: -50px;
}
.metodo__cta a,
.metodo__cta button,
.metodo__cta span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: #023f5c;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.metodo__cta a span,
.metodo__cta button span,
.metodo__cta span span {
  color: #023f5c;
}
.metodo__cta:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ff990e;
  margin-right: 30px;
}
@media (max-width: 1549px) {
  .metodo__cta {
    padding: 25px 40px;
  }
  .metodo__cta a,
.metodo__cta button,
.metodo__cta span {
    font-size: 30px;
  }
  .metodo__cta:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .metodo__cta a,
.metodo__cta button,
.metodo__cta span {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .metodo__cta:before {
    margin-right: 10px;
  }
}
@media (max-width: 991px) {
  .metodo__cta {
    margin: 0 auto;
    right: 0;
    left: 0;
    max-width: 100%;
    width: 370px;
  }
}
@media (max-width: 991px) {
  .metodo__cta {
    bottom: auto;
    position: relative;
    margin-top: 30px;
  }
}
@media (max-width: 399px) {
  .metodo__cta {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }
}

.blog {
  position: relative;
  text-align: center;
}
.blog__container {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 767px) {
  .blog__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.blog__title {
  font-size: 90px;
  letter-spacing: -0.04em;
  color: #023f5c;
  text-align: center;
  margin: 70px auto;
}
@media (max-width: 1549px) {
  .blog__title {
    font-size: 54px;
  }
}
.blog__title span {
  position: relative;
}
.blog__title span:before {
  content: "";
  display: block;
  background-color: #fe990f;
  width: 20px;
  height: 310px;
  border-radius: 10px;
  position: absolute;
  right: -90px;
  bottom: 20px;
}
@media (max-width: 1549px) {
  .blog__title span:before {
    height: 200px;
    bottom: 10px;
    right: -70px;
  }
}
@media (max-width: 767px) {
  .blog__title span:before {
    display: none;
  }
}
.blog__title span:after {
  content: "";
  display: block;
  background-color: #fe990f;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  right: -110px;
  bottom: 15px;
}
@media (max-width: 1549px) {
  .blog__title span:after {
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: -85px;
  }
}
@media (max-width: 767px) {
  .blog__title span:after {
    display: none;
  }
}
@media (max-width: 1549px) {
  .blog__title {
    margin: 50px auto;
  }
}
.blog__carousel {
  position: relative;
  overflow: hidden;
}
.blog__carousel img {
  display: block;
  max-width: 100%;
}
.blog__carousel .swiper {
  width: calc(100% - 40px);
}
@media (min-width: 768px) {
  .blog__carousel .swiper {
    margin-left: -50%;
    width: 200%;
  }
}
@media (min-width: 992px) {
  .blog__carousel .swiper {
    margin-left: -15%;
    width: 130%;
  }
}
.blog__carousel .swiper-wrapper {
  align-items: center;
}
.blog__hover {
  opacity: 0;
  transition: all 0.5s ease-out;
}
.blog__slide {
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  text-align: center;
}
.blog__slide img {
  width: 100%;
  display: block;
}
.blog__slide:hover .blog__hover {
  opacity: 1;
}
.blog__caption {
  background-color: rgba(2, 63, 92, 0.65);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  padding: 50px;
  font-size: 50px;
  letter-spacing: -0.05em;
  color: white;
  text-align: left;
  line-height: 1.3em;
}
@media (max-width: 1549px) {
  .blog__caption {
    font-size: 32px;
  }
}
@media (max-width: 1199px) {
  .blog__caption {
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .blog__caption {
    right: 0;
    padding: 20px 30px;
  }
}
.blog__cta {
  background-color: #ff990e;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
  position: absolute;
  bottom: 0;
  right: 50px;
  left: auto;
  z-index: 9;
  transform: translateY(50%);
}
.blog__cta a,
.blog__cta button,
.blog__cta span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.blog__cta a span,
.blog__cta button span,
.blog__cta span span {
  color: white;
}
.blog__cta:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  margin-right: 30px;
}
@media (max-width: 1549px) {
  .blog__cta {
    padding: 25px 40px;
  }
  .blog__cta a,
.blog__cta button,
.blog__cta span {
    font-size: 30px;
  }
  .blog__cta:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .blog__cta a,
.blog__cta button,
.blog__cta span {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .blog__cta:before {
    margin-right: 10px;
  }
}
@media (max-width: 1199px) {
  .blog__cta {
    right: 20px;
  }
}
.blog__cta--single {
  background-color: #023f5c;
  bottom: 60px;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}
@media (max-width: 1199px) {
  .blog__cta--single {
    bottom: 30px;
  }
}
@media (max-width: 767px) {
  .blog__cta--category {
    position: relative;
    transform: none;
    margin: 30px auto 0;
    left: 0;
    right: 0;
    max-width: 100%;
  }
}

.blog-list {
  position: relative;
  text-align: center;
}
.blog-list__container {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 767px) {
  .blog-list__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.blog-list__grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 70px;
  gap: 40px;
}
@media (max-width: 1549px) {
  .blog-list__grid {
    gap: 30px;
    margin-top: 50px;
  }
}
@media (max-width: 991px) {
  .blog-list__grid {
    gap: 20px;
  }
}
.blog-list__item {
  text-align: left;
  flex: 0 0 calc(33.3333% - 26.6666666667px);
  max-width: calc(33.3333% - 26.6666666667px);
}
@media (max-width: 1549px) {
  .blog-list__item {
    flex: 0 0 calc(33.3333% - 20px);
    max-width: calc(33.3333% - 20px);
  }
}
@media (max-width: 991px) {
  .blog-list__item {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}
@media (max-width: 767px) {
  .blog-list__item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.blog-list__image {
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 30px;
}
.blog-list__image img {
  display: block;
  width: 100%;
}
.blog-list__title {
  font-size: 46px;
  letter-spacing: -0.05em;
  color: #023f5c;
  text-align: center;
  line-height: 1.3em;
  text-align: left;
  margin-bottom: 20px;
}
@media (max-width: 1549px) {
  .blog-list__title {
    font-size: 28px;
  }
}
.blog-list__excerpt, .blog-list__date {
  font-size: 30px;
  line-height: 1.3em;
  color: #023f5c;
  text-align: center;
  text-align: left;
}
@media (max-width: 1549px) {
  .blog-list__excerpt, .blog-list__date {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .blog-list__excerpt, .blog-list__date {
    font-size: 22px;
  }
}
.blog-list__excerpt {
  margin-bottom: 30px;
}
.blog-list__link {
  background-color: #023f5c;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
}
.blog-list__link a,
.blog-list__link button,
.blog-list__link span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.blog-list__link a span,
.blog-list__link button span,
.blog-list__link span span {
  color: white;
}
.blog-list__link:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  margin-right: 30px;
}
@media (max-width: 1549px) {
  .blog-list__link {
    padding: 25px 40px;
  }
  .blog-list__link a,
.blog-list__link button,
.blog-list__link span {
    font-size: 30px;
  }
  .blog-list__link:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .blog-list__link a,
.blog-list__link button,
.blog-list__link span {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .blog-list__link:before {
    margin-right: 10px;
  }
}

.contatti {
  position: relative;
  overflow: hidden;
  margin-top: 145px;
  padding-bottom: 160px;
}
@media (max-width: 1549px) {
  .contatti {
    margin-top: 100px;
  }
}
@media (max-width: 767px) {
  .contatti {
    padding-bottom: 120px;
  }
}
.contatti__container {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .contatti__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.contatti__content, .contatti__image {
  width: 50%;
}
@media (max-width: 767px) {
  .contatti__content, .contatti__image {
    width: 100%;
  }
}
.contatti__image {
  position: relative;
}
.contatti__image img {
  display: block;
  position: relative;
  left: 0;
  width: 50dvw;
}
@media (max-width: 767px) {
  .contatti__image img {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
  }
}
.contatti__title {
  font-size: 90px;
  letter-spacing: -0.04em;
  color: #023f5c;
  text-align: center;
}
@media (max-width: 1549px) {
  .contatti__title {
    font-size: 54px;
  }
}
.contatti__content {
  padding-right: 20px;
}
@media (max-width: 767px) {
  .contatti__content {
    padding-right: 0;
    margin-bottom: 50px;
  }
}
.contatti__content .contatti__title {
  text-align: left;
  position: relative;
  padding-left: 30px;
}
.contatti__content .contatti__title:before {
  content: "";
  display: block;
  background-color: #fe990f;
  width: 20px;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  left: 0;
}
.contatti__content .contatti__text {
  margin-top: 40px;
  text-align: left;
  max-width: 600px;
}
.contatti__text {
  font-size: 30px;
  line-height: 1.3em;
  color: #023f5c;
  text-align: center;
  margin-top: 20px;
}
@media (max-width: 1549px) {
  .contatti__text {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .contatti__text {
    font-size: 22px;
  }
}
.contatti__cta {
  background-color: #ff990e;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
  position: relative;
  left: 25dvw;
  transform: translate(-50%, -50%);
}
.contatti__cta a,
.contatti__cta button,
.contatti__cta span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.contatti__cta a span,
.contatti__cta button span,
.contatti__cta span span {
  color: white;
}
.contatti__cta:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  margin-right: 30px;
}
@media (max-width: 1549px) {
  .contatti__cta {
    padding: 25px 40px;
  }
  .contatti__cta a,
.contatti__cta button,
.contatti__cta span {
    font-size: 30px;
  }
  .contatti__cta:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .contatti__cta a,
.contatti__cta button,
.contatti__cta span {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .contatti__cta:before {
    margin-right: 10px;
  }
}
.contatti__cta:after {
  content: "";
  display: block;
  background-color: #fe990f;
  width: 20px;
  height: 190px;
  border-radius: 10px;
  position: absolute;
  bottom: -180px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1549px) {
  .contatti__cta:after {
    height: 150px;
    bottom: -140px;
  }
}
@media (max-width: 767px) {
  .contatti__cta {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.contatti__newsletter {
  margin: 130px auto 0;
  max-width: 100%;
}
.contatti__button {
  background-color: #023f5c;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
}
.contatti__button a,
.contatti__button button,
.contatti__button span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.contatti__button a span,
.contatti__button button span,
.contatti__button span span {
  color: white;
}
.contatti__button:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  margin-right: 30px;
}
@media (max-width: 1549px) {
  .contatti__button {
    padding: 25px 40px;
  }
  .contatti__button a,
.contatti__button button,
.contatti__button span {
    font-size: 30px;
  }
  .contatti__button:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .contatti__button a,
.contatti__button button,
.contatti__button span {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .contatti__button:before {
    margin-right: 10px;
  }
}
.contatti__form {
  position: relative;
  background-color: #ebebeb;
  max-width: 1200px;
  width: 100%;
  margin: 50px auto 0;
  border-radius: 40px;
  padding: 70px 80px 0;
  text-align: center;
}
@media (max-width: 1549px) {
  .contatti__form {
    padding: 50px 60px 0;
  }
}
@media (max-width: 767px) {
  .contatti__form {
    padding: 30px 30px;
    width: 100%;
    border-radius: 0;
    width: 100dvw;
    margin-left: -20px;
    margin-right: -20px;
  }
}
.contatti__input {
  background-color: white;
  border: none;
  font-size: 30px;
  border-radius: 60px;
  width: 100%;
  max-width: 100%;
  height: 100px;
  line-height: 100px;
  padding: 0 50px;
}
.blog .contatti__input {
  border-radius: 40px;
}
.contatti__input--textarea {
  height: 300px;
  line-height: normal;
  padding-top: 30px;
  padding-bottom: 30px;
  resize: vertical;
  min-height: 150px;
  max-height: 400px;
  margin-top: 30px;
}
@media (max-width: 1549px) {
  .contatti__input {
    font-size: 24px;
    height: 80px;
    line-height: 80px;
    padding: 0 40px;
  }
}
.contatti__input--checkbox {
  width: 24px;
  height: 24px;
  position: relative;
  top: 3px;
}
.contatti__input:hover, .contatti__input:active, .contatti__input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #9eb9cd;
}
.contatti label {
  font-size: 24px;
  line-height: 1.3em;
  color: #023f5c;
  text-align: center;
}
@media (max-width: 1549px) {
  .contatti label {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .contatti label {
    font-size: 18px;
  }
}
.contatti label {
  display: block;
  margin-top: 40px;
}
.contatti label--checkbox {
  display: flex;
  align-items: center;
}
.contatti__button {
  position: relative;
  transform: translateY(50%);
  cursor: pointer;
}
@media (max-width: 767px) {
  .contatti__button {
    transform: translateY(0);
    margin-top: 20px;
  }
  .contatti__button span {
    display: none;
  }
}

.what {
  margin-top: 70px;
}
@media (max-width: 1549px) {
  .what {
    margin-top: 50px;
  }
}
.what__container {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 767px) {
  .what__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.what__title {
  font-size: 90px;
  letter-spacing: -0.04em;
  color: #023f5c;
  text-align: center;
}
@media (max-width: 1549px) {
  .what__title {
    font-size: 54px;
  }
}
.what__cols {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 70px;
  gap: 100px;
}
@media (max-width: 1549px) {
  .what__cols {
    gap: 50px;
    margin-top: 50px;
  }
}
@media (max-width: 991px) {
  .what__cols {
    gap: 25px;
  }
}
.what__col {
  color: white;
  position: relative;
  width: calc((100% / 3) - 66.6666666667px);
}
@media (max-width: 1549px) {
  .what__col {
    width: calc((100% / 3) - 33.3333333333px);
  }
}
@media (max-width: 991px) {
  .what__col {
    width: calc((100% / 3) - 20px);
  }
}
@media (max-width: 767px) {
  .what__col {
    width: 100%;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
}
.what__box {
  padding: 90px 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1549px) {
  .what__box {
    padding: 60px 0;
  }
}
@media (max-width: 1259px) {
  .what__box {
    background-size: 100% 100%;
  }
}
.what__box:before, .what__box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: red;
}
@media (max-width: 1549px) {
  .what__box:before, .what__box:after {
    height: 60px;
  }
}
.what__box:after {
  bottom: 0;
  top: auto;
}
@media (max-width: 767px) {
  .what__box {
    background-image: none;
  }
}
.what__box--innovazione {
  background-image: url("../img/bg/bg-innovazione.svg");
}
.what__box--innovazione:before, .what__box--innovazione:after {
  background-color: #9fbacd;
}
@media (max-width: 767px) {
  .what__box--innovazione {
    background-color: #9fbacd;
    background: linear-gradient(to bottom, #fff 0px, #fff 60px, #9fbacd 60px, #9fbacd calc(100% - 60px), #fff calc(100% - 60px), #fff 100%);
  }
  .what__box--innovazione:after {
    background-image: url("../img/bg/bg-innovazione--bottom.svg");
    background-position: bottom center;
    background-size: cover;
    background-color: transparent;
  }
}
.what__box--creativita {
  background-image: url("../img/bg/bg-creativita.svg");
}
.what__box--creativita:before, .what__box--creativita:after {
  background-color: #598ba7;
}
@media (max-width: 767px) {
  .what__box--creativita {
    background-color: #598ba7;
    background: linear-gradient(to bottom, #fff 0px, #fff 60px, #598ba7 60px, #598ba7 calc(100% - 60px), #fff calc(100% - 60px), #fff 100%);
  }
  .what__box--creativita:before {
    background-image: url("../img/bg/bg-creativita--top.svg");
    background-position: top center;
    background-size: cover;
    background-color: transparent;
  }
  .what__box--creativita:after {
    background-image: url("../img/bg/bg-creativita--bottom.svg");
    background-position: bottom center;
    background-size: cover;
    background-color: transparent;
  }
}
.what__box--risultati {
  background-image: url("../img/bg/bg-risultati.svg");
}
.what__box--risultati:before, .what__box--risultati:after {
  background-color: #103b59;
}
@media (max-width: 767px) {
  .what__box--risultati {
    background-color: #103b59;
    background: linear-gradient(to bottom, #fff 0px, #fff 60px, #103b59 60px, #103b59 calc(100% - 60px), #fff calc(100% - 60px), #fff 100%);
  }
  .what__box--risultati:before {
    background-image: url("../img/bg/bg-risultati--top.svg");
    background-position: top center;
    background-size: cover;
    background-color: transparent;
  }
}
.what__star {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}
.what__star img {
  display: block;
}
@media (max-width: 1549px) {
  .what__star img {
    width: 50px;
  }
}
@media (max-width: 991px) {
  .what__star img {
    width: 40px;
    margin-left: -8px;
  }
}
@media (max-width: 767px) {
  .what__star {
    position: absolute;
    top: auto;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.what__icon {
  width: 142px;
  height: 142px;
  display: block;
  margin: 0 auto;
}
.what__subtitle {
  font-size: 60px;
  letter-spacing: -0.05em;
  color: white;
  text-align: center;
}
@media (max-width: 1549px) {
  .what__subtitle {
    font-size: 40px;
  }
}
.what__subtitle {
  margin-top: 30px;
}
.what__text {
  font-size: 28px;
  color: white;
  text-align: center;
  margin-top: 20px;
}
@media (max-width: 1549px) {
  .what__text {
    font-size: 24px;
  }
}
.what__content {
  font-size: 30px;
  line-height: 1.3em;
  color: #023f5c;
  text-align: center;
}
@media (max-width: 1549px) {
  .what__content {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .what__content {
    font-size: 22px;
  }
}
.what__content {
  margin: 70px auto 0;
  max-width: 1100px;
}
@media (max-width: 1549px) {
  .what__content {
    margin-top: 50px;
  }
}

.section {
  padding: 180px 0 100px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.section__container {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 767px) {
  .section__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .section__container {
    padding-left: 0;
    padding-right: 0;
  }
}
.section__box {
  position: relative;
  background: linear-gradient(to bottom, #9fbacd, #103a59);
  border-radius: 80px;
}
.section__box:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -100px;
  margin: 0 auto;
  background-color: #fe990f;
  width: 20px;
  height: 200px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.section__star {
  position: absolute;
  top: -10px;
  right: -20px;
}
.section__star img {
  display: block;
  max-width: 100%;
}
@media (max-width: 1549px) {
  .section__star {
    width: 60px;
  }
}
.section__cols {
  display: flex;
}
.section__content {
  width: calc(50% + 10px);
  overflow: hidden;
  margin-top: -130px;
  padding-right: 50px;
}
.section__image {
  width: calc(50% - 10px);
  position: relative;
}
.section__image img {
  display: block;
  width: calc(100% + 80px);
  position: absolute;
  right: 35px;
  top: -90px;
}
.section__title {
  font-size: 90px;
  letter-spacing: -0.04em;
  color: white;
  text-align: center;
  text-align: left;
  margin-bottom: 40px;
}
@media (max-width: 1549px) {
  .section__title {
    font-size: 54px;
  }
}
.section__title:before {
  content: "";
  display: block;
  margin: 0;
  background-color: #fe990f;
  width: 20px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.blog .section__title:before {
  display: none;
}
.section__subtitle {
  font-size: 60px;
  letter-spacing: -0.05em;
  color: white;
  text-align: center;
  text-align: left;
  margin-bottom: 40px;
}
@media (max-width: 1549px) {
  .section__subtitle {
    font-size: 40px;
  }
}
.section__date {
  font-size: 30px;
  line-height: 1.3em;
  color: white;
  text-align: left;
}
@media (max-width: 1549px) {
  .section__date {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .section__date {
    font-size: 22px;
  }
}
.section__date strong {
  color: white;
  font-weight: 700 !important;
}
.section__date:before {
  content: "";
  display: block;
  margin: 0;
  background-color: #fe990f;
  width: 20px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.section__text, .section__list {
  margin-bottom: 40px;
  padding-right: 80px;
}
.section__text p,
.section__text li, .section__list p,
.section__list li {
  font-size: 30px;
  line-height: 1.3em;
  color: white;
  text-align: left;
}
@media (max-width: 1549px) {
  .section__text p,
.section__text li, .section__list p,
.section__list li {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .section__text p,
.section__text li, .section__list p,
.section__list li {
    font-size: 22px;
  }
}
.section__list {
  margin-bottom: 60px;
}
.section__list li {
  position: relative;
  margin-bottom: 25px;
  padding-left: 60px;
}
.section__list li:before {
  content: "";
  display: block;
  border-radius: 50%;
  background-color: #fe990f;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 40px;
  height: 40px;
}
@media (max-width: 1549px) {
  .section__list li {
    padding-left: 40px;
  }
  .section__list li:before {
    width: 25px;
    height: 25px;
  }
}
.section__cta {
  background-color: white;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
  margin-bottom: 140px;
}
.section__cta a,
.section__cta button,
.section__cta span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: #023f5c;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.section__cta a span,
.section__cta button span,
.section__cta span span {
  color: #023f5c;
}
.section__cta:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #023f5c;
  margin-right: 30px;
}
@media (max-width: 1549px) {
  .section__cta {
    padding: 25px 40px;
  }
  .section__cta a,
.section__cta button,
.section__cta span {
    font-size: 30px;
  }
  .section__cta:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .section__cta a,
.section__cta button,
.section__cta span {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .section__cta:before {
    margin-right: 10px;
  }
}
@media (max-width: 991px) {
  .section__cta {
    margin: 0 auto;
    right: 0;
    left: 0;
    max-width: 100%;
    width: 420px;
    margin-bottom: 140px;
  }
}
@media (max-width: 499px) {
  .section__cta {
    width: auto;
  }
  .section__cta span {
    display: none;
  }
}
@media (max-width: 399px) {
  .section__cta {
    max-width: 100%;
    width: calc(100% - 40px);
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }
}
.section--white {
  padding-bottom: 0;
}
.section--white .section__title {
  font-size: 90px;
  letter-spacing: -0.04em;
  color: #023f5c;
  text-align: center;
  text-align: left;
}
@media (max-width: 1549px) {
  .section--white .section__title {
    font-size: 54px;
  }
}
.section--white .section__title:before {
  display: none;
}
.section--white .section__subtitle {
  font-size: 60px;
  letter-spacing: -0.05em;
  color: #023f5c;
  text-align: center;
  text-align: left;
}
@media (max-width: 1549px) {
  .section--white .section__subtitle {
    font-size: 40px;
  }
}
.section--white .section__text p,
.section--white .section__text li, .section--white .section__list p,
.section--white .section__list li {
  font-size: 30px;
  line-height: 1.3em;
  color: #023f5c;
  text-align: left;
}
@media (max-width: 1549px) {
  .section--white .section__text p,
.section--white .section__text li, .section--white .section__list p,
.section--white .section__list li {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .section--white .section__text p,
.section--white .section__text li, .section--white .section__list p,
.section--white .section__list li {
    font-size: 22px;
  }
}
.section--white .section__list {
  margin-bottom: 60px;
}
.section--white .section__list li {
  position: relative;
  margin-bottom: 25px;
  padding-left: 60px;
}
.section--white .section__list li:before {
  content: "";
  display: block;
  border-radius: 50%;
  background-color: #598ba7;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 40px;
  height: 40px;
}
@media (max-width: 1549px) {
  .section--white .section__list li {
    padding-left: 40px;
  }
  .section--white .section__list li:before {
    width: 25px;
    height: 25px;
  }
}
.section--white .section__content {
  width: calc(50% + 120px);
}
.section--white .section__image {
  flex: 1;
  position: relative;
}
.section--white .section__image img {
  display: block;
  width: calc(100% + 160px);
  position: absolute;
  right: -40px;
  top: -90px;
}
.section--white .section__cta {
  background-color: #023f5c;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
}
.section--white .section__cta a,
.section--white .section__cta button,
.section--white .section__cta span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.section--white .section__cta a span,
.section--white .section__cta button span,
.section--white .section__cta span span {
  color: white;
}
.section--white .section__cta:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  margin-right: 30px;
}
@media (max-width: 1549px) {
  .section--white .section__cta {
    padding: 25px 40px;
  }
  .section--white .section__cta a,
.section--white .section__cta button,
.section--white .section__cta span {
    font-size: 30px;
  }
  .section--white .section__cta:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .section--white .section__cta a,
.section--white .section__cta button,
.section--white .section__cta span {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .section--white .section__cta:before {
    margin-right: 10px;
  }
}
.section--about {
  padding-top: 70px;
  padding-bottom: 0;
}
.section--about + .section--about {
  margin-top: 30px;
  padding-top: 100px;
  position: relative;
}
.section--about + .section--about:before {
  content: "";
  display: block;
  width: 140px;
  height: 20px;
  background-color: #033f5b;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.section--about .section__cols {
  align-items: flex-start;
}
.section--about .section__title {
  font-size: 90px;
  letter-spacing: -0.04em;
  color: #023f5c;
  text-align: center;
  text-align: center;
}
@media (max-width: 1549px) {
  .section--about .section__title {
    font-size: 54px;
  }
}
@media (max-width: 767px) {
  .section--about .section__title {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.section--about .section__title strong {
  color: #fe990f;
}
.section--about .section__title:before {
  display: none;
}
.section--about .section__subtitle {
  font-size: 60px;
  letter-spacing: -0.05em;
  color: #023f5c;
  text-align: center;
}
@media (max-width: 1549px) {
  .section--about .section__subtitle {
    font-size: 40px;
  }
}
.section--about .section__subtitle {
  text-align: left;
  padding-top: 40px;
}
@media (max-width: 991px) {
  .section--about .section__subtitle {
    padding-top: 0;
  }
}
.section--about .section__text p {
  font-size: 30px;
  line-height: 1.3em;
  color: #023f5c;
  text-align: left;
  margin-bottom: 1em;
}
@media (max-width: 1549px) {
  .section--about .section__text p {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .section--about .section__text p {
    font-size: 22px;
  }
}
.section--about .section__text p:last-child {
  margin-bottom: 0;
}
.section--about .section__content, .section--about .section__image {
  width: 50%;
  position: relative;
  margin: 0;
}
.section--about .section__content img, .section--about .section__image img {
  width: 100%;
  position: relative;
  right: auto !important;
  top: 0 !important;
}
.section--about .section__image {
  padding-right: 26px;
  position: relative;
}
.section--about .section__image img {
  transform: none !important;
}
.section--about .section__image .section__cta {
  background-color: #fe990f;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
}
.section--about .section__image .section__cta a,
.section--about .section__image .section__cta button,
.section--about .section__image .section__cta span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.section--about .section__image .section__cta a span,
.section--about .section__image .section__cta button span,
.section--about .section__image .section__cta span span {
  color: white;
}
.section--about .section__image .section__cta:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  margin-right: 30px;
}
@media (max-width: 1549px) {
  .section--about .section__image .section__cta {
    padding: 25px 40px;
  }
  .section--about .section__image .section__cta a,
.section--about .section__image .section__cta button,
.section--about .section__image .section__cta span {
    font-size: 30px;
  }
  .section--about .section__image .section__cta:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .section--about .section__image .section__cta a,
.section--about .section__image .section__cta button,
.section--about .section__image .section__cta span {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .section--about .section__image .section__cta:before {
    margin-right: 10px;
  }
}
.section--about .section__image .section__cta {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 70px;
}
@media (max-width: 1549px) {
  .section--about .section__image .section__cta {
    width: 290px;
  }
}
@media (max-width: 991px) {
  .section--about .section__image .section__cta {
    margin: 0 auto;
    transform: translateY(-50%);
    left: auto;
    position: relative;
  }
}
.section--about .section__image .section__cta:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 50px;
  margin: 0 auto;
  background-color: #fe990f;
  width: 20px;
  height: 200px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
@media (max-width: 991px) {
  .section--about .section__image .section__cta:after {
    display: none;
  }
}
.section--about .section__caption {
  font-size: 30px;
  line-height: 1.3em;
  color: white;
  text-align: center;
}
@media (max-width: 1549px) {
  .section--about .section__caption {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .section--about .section__caption {
    font-size: 22px;
  }
}
.section--about .section__caption {
  font-weight: 700;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 120px;
  z-index: 9;
  text-align: center;
  line-height: 1em;
}
@media (max-width: 991px) {
  .section--about .section__caption {
    bottom: 150px;
    max-width: 300px;
    margin: 0 auto;
    text-shadow: 0 0 40px black;
  }
}
.section--quote {
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .section--quote {
    padding: 120px 0 0;
  }
}
.section--quote .section__box {
  padding: 130px 100px;
  background: linear-gradient(to top, #9fbacd, #103a59);
}
@media (max-width: 1549px) {
  .section--quote .section__box {
    padding: 110px 80px;
  }
}
@media (max-width: 767px) {
  .section--quote .section__box {
    padding: 80px 20px;
    border-radius: 50px;
  }
}
.section--quote .section__heading {
  font-size: 50px;
  letter-spacing: -0.05em;
  color: white;
  text-align: center;
  line-height: 1.3em;
}
@media (max-width: 1549px) {
  .section--quote .section__heading {
    font-size: 32px;
  }
}
.section--quote .section__heading {
  font-style: italic;
  text-align: center;
}
.section--quote .section__cta {
  background-color: white;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
  margin-top: 40px;
  margin-bottom: 0;
  border: 10px solid #9eb9cd;
  position: relative;
  margin: 0 auto;
  transform: translateY(-50%);
}
.section--quote .section__cta a,
.section--quote .section__cta button,
.section--quote .section__cta span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: #9eb9cd;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.section--quote .section__cta a span,
.section--quote .section__cta button span,
.section--quote .section__cta span span {
  color: #9eb9cd;
}
.section--quote .section__cta:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9eb9cd;
  margin-right: 30px;
}
@media (max-width: 1549px) {
  .section--quote .section__cta {
    padding: 25px 40px;
  }
  .section--quote .section__cta a,
.section--quote .section__cta button,
.section--quote .section__cta span {
    font-size: 30px;
  }
  .section--quote .section__cta:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .section--quote .section__cta a,
.section--quote .section__cta button,
.section--quote .section__cta span {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .section--quote .section__cta:before {
    margin-right: 10px;
  }
}
@media (max-width: 991px) {
  .section--quote .section__cta {
    margin: 0 auto;
    right: 0;
    left: 0;
    max-width: 100%;
    width: 420px;
  }
}
@media (max-width: 499px) {
  .section--quote .section__cta {
    width: auto;
  }
  .section--quote .section__cta span {
    display: none;
  }
}
@media (max-width: 399px) {
  .section--quote .section__cta {
    max-width: 100%;
    width: calc(100% - 40px);
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }
}
.section--quote .section__box:after {
  top: -120px;
  bottom: auto;
  left: auto;
  right: 35%;
}
.section--gradient {
  background: linear-gradient(to bottom, rgba(199, 237, 255, 0) 0%, rgb(199, 237, 255) 100%);
  padding-bottom: 100px;
  border-radius: 0 0 80px 80px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .section__cols {
    flex-wrap: wrap;
  }
  .section__content, .section__image {
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
  }
  .section--white__content, .section--white__image {
    padding-left: 0px;
    padding-right: 0px;
  }
  .section__content {
    order: 2;
  }
  .section__image img {
    width: 100%;
    right: auto !important;
    top: 0 !important;
    max-width: 320px;
    margin: 0 auto;
    position: relative !important;
    transform: translateY(-50%);
  }
  .section__title:before {
    display: none;
  }
  .section__text, .section__list {
    padding-right: 0;
  }
  .section--gradient {
    padding-bottom: 0;
  }
}

.footer {
  background-color: #023f5c;
  position: relative;
  padding: 60px 0;
}
.footer:before {
  content: "";
  display: block;
  position: absolute;
  top: -100px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 150px;
  background-color: #ff990e;
  border-radius: 10px;
}
.footer__logo {
  max-width: 100%;
  text-align: center;
}
.footer__logo img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
@media (max-width: 1549px) {
  .footer__logo img {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .footer__logo img {
    width: 300px;
  }
}
.footer__linkedin {
  position: absolute;
  top: 35px;
  right: 35px;
}
@media (max-width: 767px) {
  .footer__linkedin {
    top: auto;
    bottom: 20px;
    right: 20px;
  }
}
.footer__bottom {
  margin-top: 70px;
}
.footer__bottom * {
  color: white;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 2.5em;
}

body,
html,
* {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #023f5c;
}
@media (min-width: 768px) {
  body,
html,
* {
    font-size: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
