.accordion {
    padding: 60px 0;
    background: #fff;

    &__container {
        max-width: 100%;
        width: 2000px;
        margin: 0 auto;
        padding: 0 30px;
    }

    &__alphabet {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        margin-bottom: 40px;
        padding-bottom: 30px;
        border-bottom: 1px solid #ddd;

        button {
            width: 40px;
            height: 40px;
            background: #023f5c;
            color: white;
            cursor: pointer;
            font-size: 16px;
            font-weight: 700;
            transition: all 0.3s ease;
            border-radius: 50%;

            &:hover {
            }

            &.active {
                background: #ff990e;
                color: #fff;
            }

            &:disabled {
                opacity: 0.3;
                cursor: not-allowed;

                &:hover {
                    background: #fff;
                }
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__item {
        overflow: hidden;
        transition: all 0.3s ease;
        border-bottom: 1px solid #598ba7;
        padding-bottom: 15px;

        &.active {
            .accordion__content {
                max-height: 2000px;
            }

            .accordion__toggle {
                background-color: #ff990e;
                &::after {
                    content: "Chiudi";
                }
            }

            .accordion__title {
                background-color: #023f5c;
                color: white;

                &:before {
                    background-color: #ff990e;
                }
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
        }
    }

    &__title {
        font-size: 44px;
        text-align: left;
        margin: 0;
        border-radius: 50px;
        padding: 5px 35px 10px 15px;

        &:before {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #023f5c;
            display: inline-block;
            content: "";
            margin-right: 20px;
        }
    }

    &__toggle {
        font-size: 36px;
        line-height: 1;
        color: white;
        background-color: #023f5c;
        padding: 10px 25px 15px;
        border-radius: 50px;

        &::before {
            content: "";
            width: 12px;
            height: 12px;
            background-color: white;
            display: inline-block;
            border-radius: 50%;
            position: relative;
            top: -5px;
            margin-right: 10px;
        }

        &::after {
            content: "Definizione";
        }
    }

    &__content {
        max-height: 0;
        overflow: hidden;
        padding: 0 0 0 68px;
        transition: all 0.4s ease;
    }

    &__inner {
        padding: 30px 0;
    }

    &__section {
        margin-bottom: 20px;
        line-height: 1.25;
        text-align: left;

        &:last-child {
            margin-bottom: 0;
        }

        strong {
            font-weight: 700;
            margin-bottom: 8px;
        }

        a {
            color: #ff990e;
            border-bottom: 2px solid;
            text-decoration: none;

            &:hover {
            }
        }
    }
}

@media (max-width: 991px) {
    .accordion {
        padding: 40px 0;

        &__alphabet {
            gap: 5px;
            margin-bottom: 30px;

            button {
                width: 35px;
                height: 35px;
                font-size: 14px;
            }
        }

        &__header {
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__title {
            font-size: 24px;
            padding: 5px 20px 5px 8px;
            display: flex;
            align-items: center;
            margin-bottom: 8px;

            &:before {
                display: block;
                flex: 0 0 20px;
            }

            &:before {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }

        &__toggle {
            font-size: 20px;
            padding: 5px 20px 5px 8px;
            top: 2px;
            position: relative;

            &:before {
                top: -2px;
            }
        }

        &__content {
            padding: 0;
        }

        &__item.active .accordion__content {
        }

        &__section {
            font-size: 20px;
        }
    }
}

.glossario #contatti {
    .contatti {
        margin-top: 0;
    }

    &:before {
        content: "";
        display: block;
        margin: 0 auto;
        background-color: #fe990f;
        width: 20px;
        height: 200px;
        border-radius: 10px;
        margin-bottom: 30px;

        .blog & {
            display: none;
        }
    }
}
