/* Layout */
/* Typography */
.contatti {
  position: relative;
  overflow: hidden;
  margin-top: 145px;
  padding-bottom: 160px;
}
@media (max-width: 1799px) {
  .contatti {
    margin-top: 100px;
  }
}
@media (max-width: 767px) {
  .contatti {
    padding-bottom: 120px;
  }
}
.contatti__container {
  width: 2000px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1399px) {
  .contatti__container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 991px) {
  .contatti__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 991px) {
  .contatti__container {
    align-items: flex-start;
  }
}
.contatti__content, .contatti__image {
  width: 50%;
}
@media (max-width: 767px) {
  .contatti__content, .contatti__image {
    width: 100%;
  }
}
.contatti__image {
  position: relative;
}
.contatti__image img {
  display: block;
  position: relative;
  left: 0;
  width: 50dvw;
}
@media (max-width: 767px) {
  .contatti__image img {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
  }
}
.contatti__title {
  font-size: 70px;
  letter-spacing: -0.04em;
  color: #023f5c;
  text-align: center;
}
@media (max-width: 1799px) {
  .contatti__title {
    font-size: 54px;
  }
}
@media (max-width: 991px) {
  .contatti__title {
    font-size: 44px;
  }
}
.contatti__content {
  padding-right: 20px;
  padding-left: 20px;
}
@media (max-width: 767px) {
  .contatti__content {
    padding-right: 0;
    margin-bottom: 50px;
  }
}
.contatti__content .contatti__title {
  text-align: left;
  position: relative;
  padding-left: 35px;
}
.contatti__content .contatti__title:before {
  content: "";
  display: block;
  background-color: #fe990f;
  width: 20px;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  left: 0;
}
.contatti__content .contatti__text {
  margin-top: 40px;
  text-align: left;
  max-width: 600px;
}
@media (max-width: 991px) {
  .contatti__content .contatti__text {
    margin-top: 20px;
  }
}
.contatti__text {
  font-size: 30px;
  line-height: 1.3em;
  color: #023f5c;
  text-align: center;
  margin-top: 4px;
}
@media (max-width: 1799px) {
  .contatti__text {
    font-size: 26px;
  }
}
@media (max-width: 1199px) {
  .contatti__text {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .contatti__text {
    font-size: 18px;
  }
}
.contatti__cta {
  background-color: #ff990e;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
  position: relative;
  left: 25dvw;
  transform: translate(-50%, -50%);
}
.contatti__cta a,
.contatti__cta button,
.contatti__cta span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.contatti__cta a span,
.contatti__cta button span,
.contatti__cta span span {
  color: white;
}
.contatti__cta:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  margin-right: 30px;
}
@media (max-width: 1799px) {
  .contatti__cta {
    padding: 25px 40px;
  }
  .contatti__cta a,
  .contatti__cta button,
  .contatti__cta span {
    font-size: 30px;
  }
  .contatti__cta:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 1199px) {
  .contatti__cta {
    padding: 20px 30px;
  }
  .contatti__cta a,
  .contatti__cta button,
  .contatti__cta span {
    font-size: 24px;
  }
  .contatti__cta:before {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .contatti__cta {
    /*
    padding: 20px 30px;

    &:before {
      margin-right: 10px;
      width: 15px;
      height: 15px;
    }
      */
  }
}
.contatti__cta:after {
  content: "";
  display: block;
  background-color: #fe990f;
  width: 20px;
  height: 190px;
  border-radius: 10px;
  position: absolute;
  bottom: -180px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1799px) {
  .contatti__cta:after {
    height: 150px;
    bottom: -140px;
  }
}
@media (max-width: 767px) {
  .contatti__cta {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.contatti__newsletter {
  margin: 130px auto 0;
  max-width: 100%;
}
.contatti__button {
  background-color: #023f5c;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
}
.contatti__button a,
.contatti__button button,
.contatti__button span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.contatti__button a span,
.contatti__button button span,
.contatti__button span span {
  color: white;
}
.contatti__button:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  margin-right: 30px;
}
@media (max-width: 1799px) {
  .contatti__button {
    padding: 25px 40px;
  }
  .contatti__button a,
  .contatti__button button,
  .contatti__button span {
    font-size: 30px;
  }
  .contatti__button:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 1199px) {
  .contatti__button {
    padding: 20px 30px;
  }
  .contatti__button a,
  .contatti__button button,
  .contatti__button span {
    font-size: 24px;
  }
  .contatti__button:before {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .contatti__button {
    /*
    padding: 20px 30px;

    &:before {
      margin-right: 10px;
      width: 15px;
      height: 15px;
    }
      */
  }
}
.contatti__form {
  position: relative;
  background-color: #ebebeb;
  max-width: 1400px;
  width: 100%;
  margin: 30px auto 0;
  border-radius: 40px;
  padding: 70px 80px 0;
  text-align: center;
}
@media (max-width: 1799px) {
  .contatti__form {
    padding: 50px 50px 0;
    max-width: 100%;
    width: 800px;
  }
}
@media (max-width: 767px) {
  .contatti__form {
    padding: 30px 30px;
    width: 100%;
    border-radius: 0;
    width: 100dvw;
    margin-left: -20px;
    margin-right: -20px;
  }
}
.contatti__input {
  background-color: white;
  border: none;
  font-size: 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 100%;
  height: 100px;
  line-height: 100px;
  padding: 0 50px;
  text-align: center;
  color: #033f5b !important;
}
.blog .contatti__input {
  border-radius: 40px;
}
.contatti__input--textarea {
  height: 300px;
  line-height: normal;
  padding-top: 30px;
  padding-bottom: 30px;
  resize: vertical;
  min-height: 150px;
  max-height: 400px;
  margin-top: 30px;
}
@media (max-width: 1799px) {
  .contatti__input {
    font-size: 24px;
    height: 80px;
    line-height: 80px;
    padding: 0 40px;
  }
}
.contatti__input--checkbox {
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px;
  border: none;
  appearance: none;
  padding: 0;
  border-radius: 2px;
  margin-right: 5px;
}
.contatti__input--checkbox:checked {
  background-color: #023f5c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M20.285 6.709l-11.025 11.025-5.545-5.545 1.414-1.414 4.131 4.131 9.611-9.611z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
.contatti__input:hover, .contatti__input:active, .contatti__input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #9eb9cd;
}
.contatti label {
  font-size: 24px;
  line-height: 1.3em;
  color: #023f5c;
  text-align: center;
}
@media (max-width: 1799px) {
  .contatti label {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .contatti label {
    font-size: 18px;
  }
}
.contatti label {
  display: block;
  margin-top: 40px;
}
.contatti label.contatti__label--checkbox {
  margin-top: 15px;
  font-size: 18px;
}
@media (max-width: 991px) {
  .contatti label.contatti__label--checkbox {
    font-size: 14px;
    position: relative;
    top: -2px;
  }
}
.contatti__button {
  position: relative;
  transform: translateY(50%);
  cursor: pointer;
}
@media (max-width: 767px) {
  .contatti__button {
    transform: translateY(0);
    margin-top: 20px;
  }
  .contatti__button span {
    display: none;
  }
}

/* Contatti Modal */
.contatti-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  transition: opacity 0.3s ease;
}
.contatti-modal--open {
  opacity: 1;
  pointer-events: auto;
}
.contatti-modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.contatti-modal__content {
  position: relative;
  width: 90%;
  max-height: 100dvh;
  overflow: clip;
  overflow-y: auto;
  z-index: 1000;
}
.contatti-modal__close {
  position: absolute;
  top: 20px;
  right: 25px;
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  color: #023f5c;
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contatti-modal__close:hover {
  color: #000;
}
.contatti-modal .contatti {
  padding-top: 50px;
  margin-top: 0;
}
.contatti-modal .contatti__title {
  margin-bottom: 30px;
}
.contatti-modal .contatti__text {
  margin-bottom: 20px;
  margin-top: -20px;
}

#newsletter .contatti {
  margin-top: 0;
  padding-bottom: 0;
  overflow: visible;
}

.contatti--search {
  margin: 0 auto;
  padding-bottom: 0;
}
.contatti--search .contatti__form {
  width: 1000px;
  max-width: 100dvw;
  padding: 50px 60px;
}
@media (max-width: 767px) {
  .contatti--search .contatti__form {
    padding: 30px;
  }
}
.contatti--search .contatti__newsletter {
  margin: 30px auto;
}
.contatti--search .contatti__text {
  margin: 0 auto 30px;
}
.contatti--search .contatti__wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.contatti--search .contatti__pre {
  font-size: 24px;
  width: 280px;
  background-color: white;
  height: 80px;
  line-height: 80px;
  border-radius: 15px 0 0 15px;
  position: relative;
}
.contatti--search .contatti__pre:after {
  content: "";
  display: block;
  height: 60px;
  width: 1px;
  background-color: #eee;
  position: absolute;
  top: 10px;
  right: 0;
}
.contatti--search .contatti__input {
  border-radius: 0 15px 15px 0;
  max-width: calc(100% - 280px);
  text-align: center;
  color: #033f5b !important;
}
.contatti--search .contatti__input:hover, .contatti--search .contatti__input:active, .contatti--search .contatti__input:focus {
  outline: none;
  box-shadow: none;
}
@media (max-width: 991px) {
  .contatti--search .contatti__pre, .contatti--search .contatti__input {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .contatti--search .contatti__pre {
    background: none;
    font-size: 20px;
    line-height: 1;
    height: auto;
    margin-bottom: 20px;
  }
  .contatti--search .contatti__input {
    border-radius: 15px;
  }
}

input::placeholder {
  color: #033f5b !important;
  opacity: 1;
}

.page-glossario input::placeholder {
  color: #C3C3C3 !important;
}