@use "mixins";

.contatti {
    position: relative;
    overflow: hidden;
    margin-top: 145px;
    padding-bottom: 160px;

    @media (max-width: 1799px) {
        margin-top: 100px;
    }

    @media (max-width: 767px) {
        padding-bottom: 120px;
    }

    &__container {
        @include mixins.container(2000px);
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @media (max-width: 991px) {
            align-items: flex-start;
        }
    }

    &__content,
    &__image {
        width: 50%;

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &__image {
        position: relative;

        img {
            display: block;
            position: relative;
            left: 0;
            width: 50dvw;

            @media (max-width: 767px) {
                width: 100%;
                border-radius: 20px;
                overflow: hidden;
            }
        }
    }

    &__title {
        @include mixins.title();
    }

    &__content {
        padding-right: 20px;
        padding-left: 20px;

        @media (max-width: 767px) {
            padding-right: 0;
            margin-bottom: 50px;
        }

        .contatti__title {
            text-align: left;
            position: relative;
            padding-left: 35px;

            &:before {
                content: "";
                display: block;
                background-color: #fe990f;
                width: 20px;
                height: 100%;
                border-radius: 10px;
                position: absolute;
                left: 0;
            }
        }

        .contatti__text {
            margin-top: 40px;
            text-align: left;
            max-width: 600px;

            @media (max-width: 991px) {
                margin-top: 20px;
            }
        }
    }

    &__text {
        @include mixins.text();
        margin-top: 4px;
    }

    &__cta {
        @include mixins.button(#ff990e, white, white);
        position: relative;
        left: 25dvw;
        transform: translate(-50%, -50%);

        &:after {
            content: "";
            display: block;
            background-color: #fe990f;
            width: 20px;
            height: 190px;
            border-radius: 10px;
            position: absolute;
            bottom: -180px;
            left: 50%;
            transform: translateX(-50%);
            @media (max-width: 1799px) {
                height: 150px;
                bottom: -140px;
            }
        }

        @media (max-width: 767px) {
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__newsletter {
        margin: 130px auto 0;
        max-width: 100%;
    }

    &__button {
        @include mixins.button(#023f5c, white, white);
    }

    &__form {
        position: relative;
        background-color: #ebebeb;
        max-width: 1400px;
        width: 100%;
        margin: 30px auto 0;
        border-radius: 40px;
        padding: 70px 80px 0;
        text-align: center;

        @media (max-width: 1799px) {
            padding: 50px 50px 0;
            max-width: 100%;
            width: 800px;
        }

        @media (max-width: 767px) {
            padding: 30px 30px;
            width: 100%;
            border-radius: 0;
            width: 100dvw;
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    &__input {
        background-color: white;
        border: none;
        font-size: 30px;
        border-radius: 8px;
        width: 100%;
        max-width: 100%;
        height: 100px;
        line-height: 100px;
        padding: 0 50px;
        text-align: center;
        color: #033f5b !important;

        .blog & {
            border-radius: 40px;
        }

        &--textarea {
            height: 300px;
            line-height: normal;
            padding-top: 30px;
            padding-bottom: 30px;
            resize: vertical;
            min-height: 150px;
            max-height: 400px;
            margin-top: 30px;
        }

        @media (max-width: 1799px) {
            font-size: 24px;
            height: 80px;
            line-height: 80px;
            padding: 0 40px;
        }

        &--checkbox {
            width: 24px;
            height: 24px;
            position: relative;
            top: 6px;
            border: none;
            appearance: none;
            padding: 0;
            border-radius: 2px;
            margin-right: 5px;
            &:checked {
                background-color: #023f5c;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M20.285 6.709l-11.025 11.025-5.545-5.545 1.414-1.414 4.131 4.131 9.611-9.611z'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
            }
        }

        &:hover,
        &:active,
        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px #9eb9cd;
        }
    }

    label {
        @include mixins.small-text();
        & {
            display: block;
            margin-top: 40px;
        }

        &.contatti__label--checkbox {
            margin-top: 15px;
            font-size: 18px;
            @media (max-width: 991px) {
                font-size: 14px;
                position: relative;
                top: -2px;
            }
        }
    }

    &__button {
        position: relative;
        transform: translateY(50%);
        cursor: pointer;

        @media (max-width: 767px) {
            transform: translateY(0);
            margin-top: 20px;

            span {
                display: none;
            }
        }
    }
}

/* Contatti Modal */
.contatti-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    transition: opacity 0.3s ease;

    &--open {
        opacity: 1;
        pointer-events: auto;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        cursor: pointer;
    }

    &__content {
        position: relative;
        width: 90%;
        max-height: 100dvh;
        overflow: clip;
        overflow-y: auto;
        z-index: 1000;
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 25px;
        background: none;
        border: none;
        font-size: 32px;
        cursor: pointer;
        color: #023f5c;
        padding: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__close:hover {
        color: #000;
    }

    .contatti {
        padding-top: 50px;
        margin-top: 0;
        &__title {
            margin-bottom: 30px;
        }

        &__text {
            margin-bottom: 20px;
            margin-top: -20px;
        }
    }
}

#newsletter .contatti {
    margin-top: 0;
    padding-bottom: 0;
    overflow: visible;
}

.contatti--search {
    margin: 0 auto;
    padding-bottom: 0;

    .contatti {
        &__form {
            width: 1000px;
            max-width: 100dvw;
            padding: 50px 60px;
            @media (max-width: 767px) {
                padding: 30px;
            }
        }

        &__newsletter {
            margin: 30px auto;
        }

        &__text {
            margin: 0 auto 30px;
        }

        &__wrap {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        &__pre {
            font-size: 24px;
            width: 280px;
            background-color: white;
            height: 80px;
            line-height: 80px;
            border-radius: 15px 0 0 15px;
            position: relative;
            &:after {
                content: "";
                display: block;
                height: 60px;
                width: 1px;
                background-color: #eee;
                position: absolute;
                top: 10px;
                right: 0;
            }
        }

        &__input {
            border-radius: 0 15px 15px 0;
            max-width: calc(100% - 280px);
            text-align: center;
            color: #033f5b !important;

            &:hover,
            &:active,
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
        @media (max-width: 991px) {
            &__pre,
            &__input {
                width: 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }

            &__pre {
                background: none;
                font-size: 20px;
                line-height: 1;
                height: auto;
                margin-bottom: 20px;
            }
            &__input {
                border-radius: 15px;
            }
        }
    }
}

input::placeholder {
    color: #033f5b !important;
    opacity: 1;
}
.page-glossario input::placeholder {
    color: #C3C3C3 !important;
}
