/* Layout */
/* Typography */
.footer {
  background-color: #023f5c;
  position: relative;
  padding: 60px 40px 20px;
}
@media (max-width: 991px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.footer:before {
  content: "";
  display: block;
  position: absolute;
  top: -100px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 150px;
  background-color: #ff990e;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .footer:before {
    display: none;
  }
}
.footer__logo {
  max-width: 100%;
  text-align: center;
}
.footer__logo img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
@media (max-width: 1799px) {
  .footer__logo img {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .footer__logo img {
    width: 300px;
  }
}
.footer__linkedin {
  position: absolute;
  top: 35px;
  right: 35px;
}
@media (max-width: 767px) {
  .footer__linkedin {
    top: auto;
    bottom: 20px;
    right: 20px;
  }
  .footer__linkedin img {
    width: 28px;
    height: 28px;
  }
}
.footer__links {
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .footer__links {
    gap: 10px;
  }
}
.footer__links a:before {
  content: " | ";
  padding-right: 20px;
}
@media (max-width: 767px) {
  .footer__links a:before {
    padding-right: 10px;
  }
}
.footer__bottom {
  margin-top: 70px;
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-right: 0;
  justify-self: flex-end;
}
.footer__bottom * {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 2.5em;
}
@media (max-width: 991px) {
  .footer__bottom * {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .footer__bottom * {
    font-size: 14px;
  }
}
.footer__menu {
  display: flex;
  gap: 20px;
  margin: 20px auto 50px;
  justify-content: center;
}
@media (max-width: 767px) {
  .footer__menu {
    gap: 10px;
  }
}
.footer__menu a {
  color: white;
  font-size: 22px;
  text-decoration: none;
  font-weight: 400;
}
@media (max-width: 991px) {
  .footer__menu a {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .footer__menu a {
    font-size: 16px;
  }
}