/* Layout */
/* Typography */
.footer {
  background-color: #023f5c;
  position: relative;
  padding: 60px 0;
}
.footer:before {
  content: "";
  display: block;
  position: absolute;
  top: -100px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 150px;
  background-color: #ff990e;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .footer:before {
    display: none;
  }
}
.footer__logo {
  max-width: 100%;
  text-align: center;
}
.footer__logo img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
@media (max-width: 1799px) {
  .footer__logo img {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .footer__logo img {
    width: 300px;
  }
}
.footer__linkedin {
  position: absolute;
  top: 35px;
  right: 35px;
}
@media (max-width: 767px) {
  .footer__linkedin {
    top: auto;
    bottom: 20px;
    right: 20px;
  }
}
.footer__bottom {
  margin-top: 70px;
}
.footer__bottom * {
  color: white;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 2.5em;
}
