@use "mixins";

.header {
  position: relative;
  background-image: url(./../img/bg/bg-header-inner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: auto;
  aspect-ratio: 1920 / 680;
  max-height: 700px;
  margin: 0 auto;
  min-width: 100%;
  overflow-x: clip;

  @media (max-width: 1799px) {
    aspect-ratio: auto;
    height: 480px;
  }

  .home & {
    background-image: url(./../img/bg/bg-header--home.webp);
    aspect-ratio: 1920 / 1165;
    height: auto;
    max-height: 100svh;
  }

  @media (max-width: 767px) {
    aspect-ratio: auto;
    background-size: cover;

    .home & {
      height: 540px;
      aspect-ratio: auto;
    }
  }

  &__logo {
    position: absolute;
    left: 30px;
    top: 30px;

    @media (max-width: 1799px) {
      img {
        width: 300px;
        top: 40px;
        left: 60px;
      }
    }

    @media (max-width: 1199px) {
      img {
        width: 250px;
      }
    }

    @media (max-width: 767px) {
      left: 15px;
      top: 10px;

      .home & {
        top: 70px;
      }

      img {
        width: 180px;
      }
    }
  }

  &__menu {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      top: 24px;
      right: 15px;

      .home & {
        left: 20px;
      }
    }
  }

  &__tag {
    position: absolute;
    top: 170px;
    left: 30px;
    color: white;
    font-size: 36px;

    @media (max-width: 1799px) {
      top: 120px;
    }

    @media (max-width: 767px) {
      top: 66px;
      font-size: 24px;
      left: 15px;
    }
  }

  &__btn {
    z-index: 99;
    appearance: none;
    -webkit-appearance: none;
    background-color: #ff990e;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 50px;
    padding: 20px 40px;

    span {
      margin-right: 15px;
      margin-top: -0.1em;
      font-size: 27px;
      font-weight: 500;
      color: white;
      line-height: 1em;
      text-transform: uppercase;
    }

    svg {
      transition: 0.25s ease-in-out;
    }

    @media (max-width: 1799px) {
      padding: 15px 30px;
      span {
        font-size: 24px;
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }

    @media (max-width: 1199px) {
      padding: 15px 30px;

      span {
        font-size: 20px;
      }

      svg {
        width: 16px;
        height: 16px;
      }
    }

    @media (max-width: 991px) {
      padding: 12px 20px;

      span {
        font-size: 20px;
        margin-right: 10px;
      }

      svg {
        width: 16px;
        height: 16px;
      }
    }

    @media (max-width: 767px) {
      padding: 10px 14px;

      span {
        font-size: 18px;
        margin-right: 6px;
      }
    }
  }

  &__linkedin {
    margin-right: 25px;

    img {
      display: block;
    }

    @media (max-width: 1799px) {
      img {
        width: 35px;
        height: 35px;
      }
    }

    @media (max-width: 991px) {
      margin-right: 15px;
    }

    @media (max-width: 767px) {
      margin-right: 8px;

      img {
        width: 25px;
        height: 25px;
      }
    }
  }

  &__payoff {
    @include mixins.container;

    & {
      position: absolute;
      text-align: center;
      bottom: 120px;
      left: 50%;
      transform: translateX(-50%);

      @media (max-width: 1799px) {
        bottom: 90px;
      }

      .home & {
        position: relative;
        top: 260px;
        bottom: auto;
        transform: none;
      }

      .blog & {
        width: 1340px;
      }
    }

    h1 {
      color: white;
      font-size: 100px;
      font-weight: 400;
      line-height: 1em;
      letter-spacing: -0.025em;
      text-align: center;

      .home & {
        text-align: left;
      }
    }

    @media (max-width: 1799px) {
      h1 {
        color: white;
        font-size: 60px;
      }
    }

    @media (max-width: 1199px) {
      .home & {
        top: 180px;
      }
    }

    @media (max-width: 991px) {
      padding-top: 80px;

      .home & {
        top: 150px;
        padding-top: 0;
      }

      h1 {
        font-size: 50px;

        br {
          display: none;
        }
      }
    }

    @media (max-width: 767px) {
      h1 {
        font-size: 42px;
      }

      .home & {
        top: 148px;
      }
    }

    .home & {
      position: absolute;
      left: 50%;
      transform: translateX(-100%);
      width: auto;
      max-width: none;
      padding: 0;
      text-align: left;

      @media (max-width: 991px) {
        left: 30px;
        transform: none;
        margin-top: auto;
      }

      @media (max-width: 767px) {
        left: 15px;
        transform: none;
      }

      @media (max-width: 599px) {
        h1 {
          max-width: 230px;
        }
      }
    }
  }

  &__cta {
    @include mixins.button;

    & {
      margin-top: 40px;
    }
  }
}
#header-menu {
    height: 100dvh;
    overflow: auto;
    position: absolute;
    inset: 0;
}
.menu {
  width: 1600px;
  max-width: calc(100dvw - 200px);
  margin: 0 auto;
  padding: 40px;
  background-color: white;
  border-radius: 60px 0 60px 60px;
  position: absolute;
  z-index: 99;
  right: 155px;
  top: 0;
  margin-right: -100vw;
  opacity: 0;
  transition: 0.3s ease-in-out;

  @media (max-width: 1799px) {
    right: 130px;
  }

  @media (max-width: 1199px) {
    right: 115px;
  }

  @media (max-width: 991px) {
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    position: fixed;
    max-width: calc(100dvw - 60px);
    z-index: 98;
  }

  @media (max-width: 767px) {
    top: 24px;
    left: 15px;
    right: 15px;
    bottom: 24px;
    position: fixed;
    max-width: calc(100dvw - 30px);
    z-index: 98;
    padding: 15px;
    border-radius: 20px 0 20px 20px;
  }

  &__row {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 40px;

    &:first-child {
      justify-content: flex-start;
      margin-top: 0;
      margin-bottom: 40px;
    }

    @media (max-width: 479px) {
      flex-direction: column;
      margin-top: 20px;

      a span {
        display: block;
        text-align: center;
        width: 100%;
      }
    }
  }

  &__btn {
    @include mixins.button();
    text-decoration: none;
    &.menu__contattaci,
    &.menu__home {
      background-color: #ff990e;
    }
  }

  &__cols {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    @media (max-width: 767px) {
      gap: 20px;
    }

    @media (max-width: 479px) {
      flex-direction: column;
    }
  }

  &__item {
    width: calc(25% - 30px);

    @media (max-width: 1199px) {
      width: calc(50% - 20px);
    }

    @media (max-width: 767px) {
      width: calc(50% - 10px);
    }

    @media (max-width: 479px) {
      width: 100%;
      margin-bottom: 40px;
    }

    img {
      display: block;
      max-width: 100%;
      width: 100%;
    }

    > span {
      font-size: 24px;
      margin-top: 50px;
      display: block;
      text-align: left;
      line-height: 1.4em;

      &:before {
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: #ff990e;
        border-radius: 50%;
        position: relative;
        top: 5px;
      }

      @media (max-width: 767px) {
        font-size: 18px;
        line-height: 1.25em;

        &:before {
          width: 20px;
          height: 20px;
          top: 2px;
        }
      }

      @media (max-width: 479px) {
        display: none;
      }
    }

    a {
      text-decoration: none;
      display: block;
      position: relative;

      > span {
        @include mixins.button();
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        padding: 20px 20px;
        width: calc(100% - 30px);
        text-align: center;

        &:before {
          width: 16px;
          height: 16px;
          flex: 0 0 16px;
          margin-right: 0;
        }

        span {
          font-size: 20px;
          text-transform: uppercase;
          text-decoration: none;
          display: block;
          text-align: center;
          width: 100%;
          i {
            font-style: normal;
            color: white;
            @media (max-width: 1499px) {
              display: none;
            }
          }
        }
      }
    }
  }
}

.menu--opened {
  overflow: hidden;

  .menu {
    margin-right: 0;
    opacity: 1;
  }

  &::before {
    content: "";
    display: block;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 98;
  }

  .header__btn {
    background-color: white;

    span {
      color: black;
      font-weight: 500;
    }

    svg {
      transform: rotate(45deg);
      path {
        stroke: black;
      }
    }
  }
}
