/* Layout */
/* Typography */
.header {
  position: relative;
  background-image: url(./../img/bg/bg-header-inner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: auto;
  aspect-ratio: 1920/600;
  max-height: 700px;
  margin: 0 auto;
  min-width: 100%;
  overflow-x: clip;
}
.blog-single .header {
  height: 350px;
}
@media (max-width: 1799px) {
  .header {
    aspect-ratio: auto;
    height: 480px;
  }
  .blog-single .header {
    height: 310px;
  }
}
@media (max-width: 1399px) {
  .blog-single .header {
    height: 220px;
  }
}
@media (max-width: 991px) {
  .header {
    aspect-ratio: auto;
    height: 390px;
  }
  .blog-single .header {
    height: 190px;
  }
}
.home .header {
  background-image: url(./../img/hero-homepage.jpg);
  aspect-ratio: 1920/1165;
  height: auto;
  max-height: 100svh;
}
@media (max-width: 767px) {
  .header {
    aspect-ratio: auto;
    background-size: cover;
  }
  .home .header {
    height: 420px;
    aspect-ratio: auto;
  }
  .blog-single .header {
    height: 130px;
  }
}
@media (max-width: 479px) {
  .home .header {
    background-position: top 0px left -270px;
    background-size: auto calc(100% + 20px);
  }
}
.header__logo {
  position: absolute;
  left: 100px;
  top: 65px;
}
@media (max-width: 1799px) {
  .header__logo img {
    width: 300px;
  }
}
@media (max-width: 1399px) {
  .header__logo {
    top: 30px;
    left: 65px;
  }
}
@media (max-width: 991px) {
  .header__logo {
    top: 30px;
    left: 50px;
  }
  .header__logo img {
    width: 220px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    left: 20px;
    top: 15px;
  }
  .header__logo img {
    width: 150px;
  }
}
.header__menu {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header__menu {
    top: 24px;
    right: 20px;
  }
}
.header__tag {
  position: absolute;
  top: 200px;
  left: 98px;
  color: white;
  font-size: 36px;
}
@media (max-width: 1799px) {
  .header__tag {
    top: 155px;
  }
}
@media (max-width: 1399px) {
  .header__tag {
    top: 120px;
    left: 65px;
  }
}
@media (max-width: 991px) {
  .header__tag {
    top: 105px;
    left: 50px;
  }
}
@media (max-width: 767px) {
  .header__tag {
    top: 66px;
    font-size: 24px;
    left: 20px;
  }
}
.header__btn {
  z-index: 99;
  appearance: none;
  -webkit-appearance: none;
  background-color: #ff990e;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 50px;
  padding: 20px 40px;
}
.header__btn span {
  margin-right: 15px;
  margin-top: -0.1em;
  font-size: 27px;
  font-weight: 500;
  color: white;
  line-height: 1em;
  text-transform: uppercase;
}
.header__btn svg {
  transition: 0.25s ease-in-out;
}
@media (max-width: 1799px) {
  .header__btn {
    padding: 15px 30px;
  }
  .header__btn span {
    font-size: 24px;
  }
  .header__btn svg {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 1199px) {
  .header__btn {
    padding: 15px 30px;
  }
  .header__btn span {
    font-size: 20px;
  }
  .header__btn svg {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 991px) {
  .header__btn {
    padding: 12px 20px;
  }
  .header__btn span {
    font-size: 20px;
    margin-right: 10px;
  }
  .header__btn svg {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 767px) {
  .header__btn {
    padding: 10px 14px;
  }
  .header__btn span {
    font-size: 18px;
    margin-right: 6px;
  }
}
.header__linkedin {
  margin-right: 25px;
}
.header__linkedin img {
  display: block;
}
@media (max-width: 1799px) {
  .header__linkedin img {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 991px) {
  .header__linkedin {
    margin-right: 15px;
  }
}
@media (max-width: 767px) {
  .header__linkedin {
    margin-right: 8px;
  }
  .header__linkedin img {
    width: 25px;
    height: 25px;
  }
}
.header__payoff {
  width: 2000px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 150px;
  padding-right: 150px;
}
@media (max-width: 1399px) {
  .header__payoff {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 991px) {
  .header__payoff {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.header__payoff {
  position: absolute;
  text-align: center;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1799px) {
  .header__payoff {
    bottom: 90px;
  }
}
.home .header__payoff {
  position: relative;
  top: 320px;
  bottom: auto;
  transform: none;
}
.blog .header__payoff {
  width: 1340px;
}
.header__payoff h1 {
  color: white;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -0.025em;
  text-align: center;
  font-size: 70px;
}
@media (max-width: 1799px) {
  .header__payoff h1 {
    font-size: 54px;
  }
}
.home .header__payoff h1 {
  text-align: left;
  font-size: 100px;
}
@media (max-width: 1799px) {
  .home .header__payoff h1 {
    color: white;
    font-size: 80px;
  }
}
@media (max-width: 1399px) {
  .home .header__payoff h1 {
    font-size: 70px;
  }
}
@media (max-width: 1199px) {
  .home .header__payoff h1 {
    font-size: 60px;
  }
}
@media (max-width: 991px) {
  .home .header__payoff h1 {
    font-size: 44px;
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .home .header__payoff h1 {
    font-size: 32px;
    max-width: 200px;
  }
}
@media (max-width: 479px) {
  .home .header__payoff h1 {
    font-size: 30px;
  }
}
@media (max-width: 1199px) {
  .home .header__payoff {
    top: 180px;
  }
}
@media (max-width: 991px) {
  .header__payoff {
    padding-top: 80px;
  }
  .home .header__payoff {
    top: 150px;
    padding-top: 0;
  }
  .header__payoff h1 {
    font-size: 44px;
  }
  .header__payoff h1 br {
    display: none;
  }
}
@media (max-width: 767px) {
  .header__payoff h1 {
    font-size: 32px;
  }
  .home .header__payoff {
    top: 148px;
  }
}
@media (max-width: 479px) {
  .header__payoff {
    font-size: 30px;
  }
}
.home .header__payoff {
  position: absolute;
  left: 50%;
  transform: translateX(-100%);
  width: auto;
  max-width: none;
  padding: 0;
  text-align: left;
}
@media (max-width: 1399px) {
  .home .header__payoff {
    transform: none;
    left: 62px;
    top: 220px;
  }
}
@media (max-width: 1199px) {
  .home .header__payoff {
    top: 180px;
  }
}
@media (max-width: 991px) {
  .home .header__payoff {
    top: 140px;
    left: 50px;
    transform: none;
    margin-top: auto;
  }
}
@media (max-width: 767px) {
  .home .header__payoff {
    left: 20px;
    transform: none;
  }
}
@media (max-width: 479px) {
  .home .header__payoff {
    height: calc(100% - 140px);
    width: calc(100% - 40px);
  }
}
.header__cta {
  background-color: #023f5c;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
}
.header__cta a,
.header__cta button,
.header__cta span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.header__cta a span,
.header__cta button span,
.header__cta span span {
  color: white;
}
.header__cta:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  margin-right: 30px;
}
@media (max-width: 1799px) {
  .header__cta {
    padding: 25px 40px;
  }
  .header__cta a,
  .header__cta button,
  .header__cta span {
    font-size: 30px;
  }
  .header__cta:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 1199px) {
  .header__cta {
    padding: 20px 30px;
  }
  .header__cta a,
  .header__cta button,
  .header__cta span {
    font-size: 24px;
  }
  .header__cta:before {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .header__cta {
    padding: 15px 20px;
  }
  .header__cta a,
  .header__cta button,
  .header__cta span {
    font-size: 20px;
  }
  .header__cta:before {
    margin-right: 10px;
    width: 10px;
    height: 10px;
  }
}
.header__cta {
  margin-top: 40px;
}
@media (max-width: 1399px) {
  .header__cta {
    margin-top: 30px;
  }
}
@media (max-width: 1199px) {
  .header__cta {
    margin-top: 20px;
  }
}
@media (max-width: 479px) {
  .header__cta {
    position: absolute;
    bottom: 20px;
    transform: none;
    left: 50%;
    transform: translateX(-50%);
    width: 210px;
  }
  .header__cta a {
    text-align: center;
    justify-content: center;
  }
}

.menu--opened #header-menu {
  height: 100dvh;
  overflow: auto;
  position: absolute;
  inset: 0;
  max-width: 100%;
  overflow: clip;
  overflow-y: auto;
}

.menu {
  width: 2000px;
  max-width: calc(100dvw - 200px);
  overflow: auto;
  margin: 0 auto;
  padding: 40px;
  background-color: white;
  border-radius: 60px 0 60px 60px;
  position: absolute;
  z-index: 99;
  right: 155px;
  top: 0;
  margin-right: -100vw;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
@media (max-width: 1799px) {
  .menu {
    right: 130px;
  }
}
@media (max-width: 1199px) {
  .menu {
    right: 115px;
  }
}
@media (max-width: 991px) {
  .menu {
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    position: fixed;
    max-width: calc(100dvw - 60px);
    z-index: 98;
    display: flex;
    flex-direction: column;
    border-radius: 40px 0 40px 40px;
  }
}
@media (max-width: 767px) {
  .menu {
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 24px;
    position: fixed;
    max-width: calc(100dvw - 40px);
    z-index: 98;
    padding: 15px;
    border-radius: 20px 0 20px 20px;
    padding-top: 50px;
  }
}
.menu__row {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 40px;
}
.menu__row:last-child {
  align-items: center;
}
.menu__row:first-child {
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .menu__row:first-child {
    margin-bottom: 10px;
  }
}
@media (max-width: 991px) {
  .menu__row:last-child {
    margin-top: auto;
  }
}
@media (max-width: 479px) {
  .menu__row {
    flex-direction: column;
    margin-top: 20px;
  }
  .menu__row a span {
    display: block;
    text-align: center;
    width: 100%;
  }
}
.menu__btn {
  background-color: #023f5c;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
  text-decoration: none;
}
.menu__btn a,
.menu__btn button,
.menu__btn span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.menu__btn a span,
.menu__btn button span,
.menu__btn span span {
  color: white;
}
.menu__btn:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  margin-right: 30px;
}
@media (max-width: 1799px) {
  .menu__btn {
    padding: 25px 40px;
  }
  .menu__btn a,
  .menu__btn button,
  .menu__btn span {
    font-size: 30px;
  }
  .menu__btn:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 1199px) {
  .menu__btn {
    padding: 20px 30px;
  }
  .menu__btn a,
  .menu__btn button,
  .menu__btn span {
    font-size: 24px;
  }
  .menu__btn:before {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .menu__btn {
    padding: 15px 20px;
  }
  .menu__btn a,
  .menu__btn button,
  .menu__btn span {
    font-size: 20px;
  }
  .menu__btn:before {
    margin-right: 10px;
    width: 10px;
    height: 10px;
  }
}
.menu__btn.menu__contattaci, .menu__btn.menu__home {
  background-color: #ff990e;
}
.menu__cols {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
@media (max-width: 991px) {
  .menu__cols {
    gap: 69px 40px;
    margin-bottom: 69px;
  }
}
@media (max-width: 767px) {
  .menu__cols {
    gap: 10px;
  }
}
@media (max-width: 479px) {
  .menu__cols {
    flex-direction: column;
  }
}
.menu__item {
  width: calc(25% - 30px);
}
@media (max-width: 1199px) {
  .menu__item {
    width: calc(50% - 20px);
  }
}
@media (max-width: 767px) {
  .menu__item {
    width: 100%;
  }
}
.menu__item img {
  display: block;
  max-width: 100%;
  width: 100%;
}
@media (max-width: 767px) {
  .menu__item img {
    display: none !important;
  }
}
.menu__item > span {
  font-size: 24px;
  margin-top: 50px;
  display: block;
  text-align: left;
  line-height: 1.4em;
}
@media (max-width: 991px) {
  .menu__item > span {
    display: none;
  }
}
.menu__item > span:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ff990e;
  border-radius: 50%;
  position: relative;
  top: 5px;
}
@media (max-width: 767px) {
  .menu__item > span {
    font-size: 18px;
    line-height: 1.25em;
  }
  .menu__item > span:before {
    width: 20px;
    height: 20px;
    top: 2px;
  }
}
@media (max-width: 479px) {
  .menu__item > span {
    display: none;
  }
}
.menu__item a {
  text-decoration: none;
  display: block;
  position: relative;
}
.menu__item a > span {
  background-color: #023f5c;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 20px 20px;
  width: calc(100% - 30px);
  text-align: center;
}
.menu__item a > span a,
.menu__item a > span button,
.menu__item a > span span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.menu__item a > span a span,
.menu__item a > span button span,
.menu__item a > span span span {
  color: white;
}
.menu__item a > span:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  margin-right: 30px;
}
@media (max-width: 1799px) {
  .menu__item a > span {
    padding: 25px 40px;
  }
  .menu__item a > span a,
  .menu__item a > span button,
  .menu__item a > span span {
    font-size: 30px;
  }
  .menu__item a > span:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 1199px) {
  .menu__item a > span {
    padding: 20px 30px;
  }
  .menu__item a > span a,
  .menu__item a > span button,
  .menu__item a > span span {
    font-size: 24px;
  }
  .menu__item a > span:before {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .menu__item a > span {
    padding: 15px 20px;
  }
  .menu__item a > span a,
  .menu__item a > span button,
  .menu__item a > span span {
    font-size: 20px;
  }
  .menu__item a > span:before {
    margin-right: 10px;
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 991px) {
  .menu__item a > span {
    width: calc(100% - 90px);
  }
}
.menu__item a > span:before {
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
  margin-right: 0;
}
@media (max-width: 767px) {
  .menu__item a > span {
    width: 100%;
    transform: none;
    position: relative;
    left: auto;
    font-size: 20px;
    padding: 15px 20px;
  }
  .menu__item a > span:before {
    width: 10px;
    height: 10px;
    flex: 0 0 10px;
  }
}
.menu__item a > span span {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 100%;
}
.menu__item a > span span i {
  font-style: normal;
  color: white;
}
@media (max-width: 1499px) {
  .menu__item a > span span i {
    display: none;
  }
}

.menu--opened {
  overflow: hidden;
}
.menu--opened .menu {
  margin-right: 0;
  opacity: 1;
}
.menu--opened::before {
  content: "";
  display: block;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 98;
}
.menu--opened .header__btn {
  background-color: white;
}
.menu--opened .header__btn span {
  color: black;
  font-weight: 500;
}
.menu--opened .header__btn svg {
  transform: rotate(45deg);
}
.menu--opened .header__btn svg path {
  stroke: black;
}

.header__linkedin {
  display: none !important;
}