@use "mixins";

.metodo {
    margin: 120px auto 0;
    padding-bottom: 100px;
    background: linear-gradient(to bottom, #9fbacd, #103a59);
    border-radius: 80px 80px 0 0;
    position: relative;
    text-align: center;

    @media (max-width: 991px) {
        margin: 88px auto 0;
    }

    @media (max-width: 767px) {
        border-radius: 20px 20px 0 0;
        padding-bottom: 0;
        &:after {
            content: "";
            display: block;
            background: white;
            width: 100%;
            position: absolute;
            bottom: 0;
            height: 170px;
        }
    }

    &:before {
        content: "";
        display: block;
        background-image: url(./../img/logo-stralent--bg.svg);
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: 0 47%;
        position: absolute;
        inset: 0;

        @media (max-width: 1399px) {
            background-position: 0 47%;
        }

        @media (max-width: 1199px) {
            background-position: 0 55%;
        }

        @media (max-width: 991px) {
            background-position: 0 67%;
        }

        @media (max-width: 767px) {
            background-position: 0 72.4%;
        }
    }

    &__container {
        @include mixins.container($width: 2000px);

        @media (min-width: 1400px) {
            padding-left: 60px;
            padding-right: 60px;
        }
        overflow: hidden;
        margin-top: -40px;
        position: relative;
        z-index: 1;
    }

    &__title {
        @include mixins.title(white);

        &:before {
            content: "";
            display: block;
            margin: 0 auto;
            background-color: #fe990f;
            width: 20px;
            height: 100px;
            border-radius: 10px;
            margin-bottom: 10px;

            @media (max-width: 767px) {
                display: block;
                margin: 10px auto;
                background-color: #fe990f;
                width: 12px;
                height: 60px;
                border-radius: 10px;
                margin-bottom: 10px;
            }
        }
    }

    &__subtitle {
        @include mixins.subtitle(white);

        @media (max-width: 991px) {
            font-size: 28px;
        }

        @media (max-width: 767px) {
            font-size: 18px;
            line-height: 1.25em;
            padding-top: 5px;
            max-width: 260px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__cols {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 90px;
        @media (max-width: 991px) {
            margin-top: 50px;
        }
        @media (max-width: 767px) {
            margin-top: 40px;
        }
    }

    &__col {
        @include mixins.cols(3, 40);
        @media (max-width: 991px) {
            width: 100%;
            max-width: 460px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;

            @media (max-width: 767px) {
                margin-bottom: 40px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__heading {
        @include mixins.subtitle;
        & {
            text-transform: uppercase;
        }

        @media (max-width: 1199px) {
            font-size: 30px;
        }
    }

    &__desc {
        @include mixins.text;

        @media (max-width: 1399px) {
            font-size: 20px;
        }
        & {
            padding: 30px 40px 0;

            @media (min-width: 1550px) {
                padding: 40px 60px 0;
            }

            @media (max-width: 1199px) {
                padding: 20px 30px;
            }
        }
    }

    &__box {
        position: relative;
        background-color: white;
        border-radius: 40px;
        padding: 60px 0px;

        &--comunicazione {
            background-color: #ff990e;

            * {
                color: white;
            }
        }

        @media (max-width: 1199px) {
            padding: 50px 0px 30px;
        }

        @media (max-width: 991px) {
            height: auto !important;
        }
    }

    &__star {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(25%, -25%);

        img {
            display: block;
            max-width: 100%;
        }

        @media (max-width: 1799px) {
            width: 60px;
        }
    }

    &__tag {
        @include mixins.button(white, #6f8fa7, #6f8fa7);
        border: 10px solid #9eb9cd;
        position: relative;
        margin: 0 auto;
        transform: translateY(-50%);
    }

    &__circle {
        aspect-ratio: 1 / 1;
        width: 800px;
        max-width: 100%;
        margin: 150px auto 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: 1399px) {
            margin-top: 200px;
        }
        @media (max-width: 1199px) {
            width: 550px;
            margin-top: 120px;
        }
        @media (max-width: 767px) {
            margin: 100px auto 0;
            padding: 75px 0;
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            inset: 0;
            background-color: #ff990e;
            border-radius: 50%;
            aspect-ratio: 1 / 1;
            @media (max-width: 767px) {
                height: 100%;
                width: auto;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        * {
            position: relative;
        }

        .metodo__desc {
            color: white;
            margin-top: 15px;

            @media (max-width: 767px) {
                padding: 14px 0 0;
                margin-top: 0;
            }
        }

        .metodo__header {
            margin-top: 0;
        }
    }

    &__circle-inner {
        padding-bottom: 145px;
        @media (max-width: 991px) {
            padding-bottom: 105px;
        }
        @media (max-width: 767px) {
            padding-bottom: 0;
        }
    }

    &__cta {
        @include mixins.button(white, #023f5c, #ff990e);
        margin-top: 65px;
        position: absolute;
        right: -50px;

        @media (max-width: 991px) {
            margin-top: 25px;
        }

        @media (max-width: 767px) {
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
            justify-content: center;
            right: auto;
            position: relative;
            width: 300px;
        }
    }
}
