/* Layout */
/* Typography */
.metodo {
  margin: 120px auto 0;
  padding-bottom: 100px;
  background: linear-gradient(to bottom, #9fbacd, #103a59);
  border-radius: 80px 80px 0 0;
  position: relative;
  text-align: center;
}
@media (max-width: 991px) {
  .metodo {
    margin: 88px auto 0;
  }
}
@media (max-width: 767px) {
  .metodo {
    border-radius: 20px 20px 0 0;
    padding-bottom: 0;
  }
  .metodo:after {
    content: "";
    display: block;
    background: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 170px;
  }
}
.metodo:before {
  content: "";
  display: block;
  background-image: url(./../img/logo-stralent--bg.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 47%;
  position: absolute;
  inset: 0;
}
@media (max-width: 1399px) {
  .metodo:before {
    background-position: 0 47%;
  }
}
@media (max-width: 1199px) {
  .metodo:before {
    background-position: 0 55%;
  }
}
@media (max-width: 991px) {
  .metodo:before {
    background-position: 0 67%;
  }
}
@media (max-width: 767px) {
  .metodo:before {
    background-position: 0 72.4%;
  }
}
.metodo__container {
  width: 2000px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 150px;
  padding-right: 150px;
}
@media (max-width: 1399px) {
  .metodo__container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 991px) {
  .metodo__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1400px) {
  .metodo__container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
.metodo__container {
  overflow: hidden;
  margin-top: -40px;
  position: relative;
  z-index: 1;
}
.metodo__title {
  font-size: 70px;
  letter-spacing: -0.04em;
  color: white;
  text-align: center;
}
@media (max-width: 1799px) {
  .metodo__title {
    font-size: 54px;
  }
}
@media (max-width: 1199px) {
  .metodo__title {
    font-size: 48px;
  }
}
@media (max-width: 991px) {
  .metodo__title {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .metodo__title {
    font-size: 32px;
  }
}
@media (max-width: 479px) {
  .metodo__title {
    font-size: 30px;
  }
}
.metodo__title:before {
  content: "";
  display: block;
  margin: 0 auto;
  background-color: #fe990f;
  width: 20px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .metodo__title:before {
    display: block;
    margin: 10px auto;
    background-color: #fe990f;
    width: 12px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
}
.metodo__subtitle {
  font-size: 60px;
  letter-spacing: -0.05em;
  color: white;
  text-align: center;
}
@media (max-width: 1799px) {
  .metodo__subtitle {
    font-size: 36px;
    margin-top: 4px;
  }
}
@media (max-width: 767px) {
  .metodo__subtitle {
    font-size: 32px;
  }
}
@media (max-width: 479px) {
  .metodo__subtitle {
    font-size: 30px;
  }
}
@media (max-width: 991px) {
  .metodo__subtitle {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .metodo__subtitle {
    font-size: 18px;
    line-height: 1.25em;
    padding-top: 5px;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
  }
}
.metodo__cols {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 90px;
}
@media (max-width: 991px) {
  .metodo__cols {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .metodo__cols {
    margin-top: 40px;
  }
}
.metodo__col {
  position: relative;
  width: calc(100% / 3 - 26.6666666667px);
}
@media (max-width: 1799px) {
  .metodo__col {
    width: calc(100% / 3 - 20px);
  }
}
@media (max-width: 991px) {
  .metodo__col {
    width: calc(100% / 3 - 20px);
  }
}
@media (max-width: 767px) {
  .metodo__col {
    width: 100%;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 991px) {
  .metodo__col {
    width: 100%;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .metodo__col {
    margin-bottom: 40px;
  }
}
@media (max-width: 991px) {
  .metodo__col:last-child {
    margin-bottom: 0;
  }
}
.metodo__heading {
  font-size: 60px;
  letter-spacing: -0.05em;
  color: #023f5c;
  text-align: center;
}
@media (max-width: 1799px) {
  .metodo__heading {
    font-size: 36px;
    margin-top: 4px;
  }
}
@media (max-width: 767px) {
  .metodo__heading {
    font-size: 32px;
  }
}
@media (max-width: 479px) {
  .metodo__heading {
    font-size: 30px;
  }
}
.metodo__heading {
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .metodo__heading {
    font-size: 30px;
  }
}
.metodo__desc {
  font-size: 30px;
  line-height: 1.3em;
  color: #023f5c;
  text-align: center;
}
@media (max-width: 1799px) {
  .metodo__desc {
    font-size: 26px;
  }
}
@media (max-width: 1199px) {
  .metodo__desc {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .metodo__desc {
    font-size: 18px;
  }
}
@media (max-width: 1399px) {
  .metodo__desc {
    font-size: 20px;
  }
}
.metodo__desc {
  padding: 30px 40px 0;
}
@media (min-width: 1550px) {
  .metodo__desc {
    padding: 40px 60px 0;
  }
}
@media (max-width: 1199px) {
  .metodo__desc {
    padding: 20px 30px;
  }
}
.metodo__box {
  position: relative;
  background-color: white;
  border-radius: 40px;
  padding: 60px 0px;
}
.metodo__box--comunicazione {
  background-color: #ff990e;
}
.metodo__box--comunicazione * {
  color: white;
}
@media (max-width: 1199px) {
  .metodo__box {
    padding: 50px 0px 30px;
  }
}
@media (max-width: 991px) {
  .metodo__box {
    height: auto !important;
  }
}
.metodo__star {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
}
.metodo__star img {
  display: block;
  max-width: 100%;
}
@media (max-width: 1799px) {
  .metodo__star {
    width: 60px;
  }
}
.metodo__tag {
  background-color: white;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
}
.metodo__tag a,
.metodo__tag button,
.metodo__tag span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: #6f8fa7;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.metodo__tag a span,
.metodo__tag button span,
.metodo__tag span span {
  color: #6f8fa7;
}
.metodo__tag:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #6f8fa7;
  margin-right: 30px;
}
@media (max-width: 1799px) {
  .metodo__tag {
    padding: 25px 40px;
  }
  .metodo__tag a,
  .metodo__tag button,
  .metodo__tag span {
    font-size: 30px;
  }
  .metodo__tag:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 1199px) {
  .metodo__tag {
    padding: 20px 30px;
  }
  .metodo__tag a,
  .metodo__tag button,
  .metodo__tag span {
    font-size: 24px;
  }
  .metodo__tag:before {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .metodo__tag a,
  .metodo__tag button,
  .metodo__tag span {
    font-size: 20px;
  }
  .metodo__tag {
    padding: 15px 20px;
  }
  .metodo__tag:before {
    margin-right: 10px;
    width: 10px;
    height: 10px;
  }
}
.metodo__tag {
  border: 10px solid #9eb9cd;
  position: relative;
  margin: 0 auto;
  transform: translateY(-50%);
}
.metodo__circle {
  aspect-ratio: 1/1;
  width: 800px;
  max-width: 100%;
  margin: 150px auto 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1399px) {
  .metodo__circle {
    margin-top: 200px;
  }
}
@media (max-width: 1199px) {
  .metodo__circle {
    width: 550px;
    margin-top: 120px;
  }
}
@media (max-width: 767px) {
  .metodo__circle {
    margin: 100px auto 0;
    padding: 75px 0;
  }
}
.metodo__circle:before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: #ff990e;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
@media (max-width: 767px) {
  .metodo__circle:before {
    height: 100%;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
.metodo__circle * {
  position: relative;
}
.metodo__circle .metodo__desc {
  color: white;
  margin-top: 15px;
}
@media (max-width: 767px) {
  .metodo__circle .metodo__desc {
    padding: 14px 0 0;
    margin-top: 0;
  }
}
.metodo__circle .metodo__header {
  margin-top: 0;
}
.metodo__circle-inner {
  padding-bottom: 145px;
}
@media (max-width: 991px) {
  .metodo__circle-inner {
    padding-bottom: 105px;
  }
}
@media (max-width: 767px) {
  .metodo__circle-inner {
    padding-bottom: 0;
  }
}
.metodo__cta {
  background-color: white;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
}
.metodo__cta a,
.metodo__cta button,
.metodo__cta span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: #023f5c;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.metodo__cta a span,
.metodo__cta button span,
.metodo__cta span span {
  color: #023f5c;
}
.metodo__cta:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ff990e;
  margin-right: 30px;
}
@media (max-width: 1799px) {
  .metodo__cta {
    padding: 25px 40px;
  }
  .metodo__cta a,
  .metodo__cta button,
  .metodo__cta span {
    font-size: 30px;
  }
  .metodo__cta:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 1199px) {
  .metodo__cta {
    padding: 20px 30px;
  }
  .metodo__cta a,
  .metodo__cta button,
  .metodo__cta span {
    font-size: 24px;
  }
  .metodo__cta:before {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .metodo__cta a,
  .metodo__cta button,
  .metodo__cta span {
    font-size: 20px;
  }
  .metodo__cta {
    padding: 15px 20px;
  }
  .metodo__cta:before {
    margin-right: 10px;
    width: 10px;
    height: 10px;
  }
}
.metodo__cta {
  margin-top: 65px;
  position: absolute;
  right: -50px;
}
@media (max-width: 991px) {
  .metodo__cta {
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  .metodo__cta {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    right: auto;
    position: relative;
    width: 300px;
  }
}
