@use "sass:math";

@mixin btn() {
  display: block;
  width: 100%;
  max-width: 100%;
  background-color: #cecb9d;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #1f1f3c;
  text-align: center;
  border-radius: 24px;
  margin: 0 auto;
  height: 32px;
  line-height: 32px;

  @media (min-width: 540px) {
    width: 320px;
  }

  @media (min-width: 768px) {
    height: 40px;
    line-height: 40px;
  }

  @media (min-width: 1200px) {
    height: 48px;
    line-height: 48px;
  }

  &:focus,
  &:active,
  &:hover {
    outline: none;
    box-shadow: none;
    transform: none;
  }
}

/* Layout */
@mixin container($width: 2000px) {
  width: $width;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 150px;
  padding-right: 150px;

  @media (max-width: 1399px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (max-width: 991px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@mixin cols($cols: 3, $gap: 100px) {
  position: relative;
  $col-gap: math.div($gap, $cols) * ($cols - 1);
  width: calc((100% / #{$cols}) - #{$col-gap}px);

  @media (max-width: 1799px) {
    $mobile-gap: math.max(math.div($gap, 2), 30);
    $col-gap: math.div($mobile-gap, $cols) * ($cols - 1);
    width: calc((100% / #{$cols}) - #{$col-gap}px);
  }

  @media (max-width: 991px) {
    $mobile-gap: math.div($gap, 4);
    $mobile-gap: math.max(math.div($gap, 4), 30);
    $col-gap: math.div($mobile-gap, $cols) * ($cols - 1);
    width: calc((100% / #{$cols}) - #{$col-gap}px);
  }

  @media (max-width: 767px) {
    width: 100%;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin button($background-color: #023f5c, $color: white, $dot-color: white) {
  background-color: $background-color;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;

  a,
  button,
  span {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    color: $color;
    font-size: 40px;
    text-decoration: none;
    line-height: 1em;
    position: relative;
    margin-top: -0.1em;

    span {
      color: $color;
    }
  }

  &:before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $dot-color;
    margin-right: 30px;
  }

  @media (max-width: 1799px) {
    padding: 25px 40px;

    a,
    button,
    span {
      font-size: 30px;
    }

    &:before {
      width: 20px;
      height: 20px;
      margin-right: 20px;
    }
  }

  @media (max-width: 1199px) {
    padding: 20px 30px;
    a,
    button,
    span {
      font-size: 24px;
    }

    &:before {
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }
  }

  @media (max-width: 767px) {
    a,
    button,
    span {
      font-size: 20px;
    }
    padding: 15px 20px;

    &:before {
      margin-right: 10px;
      width: 10px;
      height: 10px;
    }
  }
}

/* Typography */
@mixin title($color: #023f5c) {
  font-size: 70px;
  letter-spacing: -0.04em;
  color: $color;
  text-align: center;

  @media (max-width: 1799px) {
    font-size: 54px;
  }

  @media (max-width: 1199px) {
    font-size: 48px;
  }
  
  @media (max-width: 991px) {
    font-size: 44px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
  }
  @media (max-width: 479px) {
    font-size: 30px;
  }
}

@mixin subtitle($color: #023f5c) {
  font-size: 60px;
  letter-spacing: -0.05em;
  color: $color;
  text-align: center;

  @media (max-width: 1799px) {
    font-size: 36px;
    margin-top: 4px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
  }
  @media (max-width: 479px) {
    font-size: 30px;
  }
}

@mixin h3($color: #023f5c, $text-align: center) {
  font-size: 50px;
  letter-spacing: -0.05em;
  color: $color;
  text-align: $text-align;
  line-height: 1.3em;

  @media (max-width: 1799px) {
    font-size: 32px;
  }
}

@mixin h4($color: #023f5c, $text-align: center) {
  font-size: 46px;
  letter-spacing: -0.05em;
  color: $color;
  text-align: $text-align;
  line-height: 1em;
  .home & {
    @media (max-width: 1799px) {
      font-size: 28px;
      line-height: 1.3em;
    }
  }

  @media (max-width: 1199px) {
    font-size: 28px;
    line-height: 1.3em;
  }
}
@mixin text($color: #023f5c, $text-align: center) {
  font-size: 30px;
  line-height: 1.3em;
  color: $color;
  text-align: $text-align;

  @media (max-width: 1799px) {
    font-size: 26px;
  }

  @media (max-width: 1199px) {
    font-size: 20px;
  }

  @media (max-width: 991px) {
    font-size: 18px;
  }
}

@mixin small-text($color: #023f5c, $text-align: center) {
  font-size: 24px;
  line-height: 1.3em;
  color: $color;
  text-align: $text-align;

  @media (max-width: 1799px) {
    font-size: 20px;
  }

  @media (max-width: 767px) {
    font-size: 18px;
  }
}
@mixin list($color: #fe990f) {
  li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 34px;

    &:before {
      content: "";
      display: block;
      border-radius: 50%;
      background-color: $color;
      position: absolute;
      top: 12px;
      left: 0;
      width: 20px;
      height: 20px;
    }

    @media (max-width: 1799px) {
      &:before {
        top: 8px;
      }
    }
    @media (max-width: 1199px) {
      padding-left: 24px;
      &:before {
        width: 14px;
        height: 14px;
        top: 7px;
      }
    }
  }
}
