@use "mixins";

.section {
    padding: 180px 0 100px;
    position: relative;
    text-align: center;
    overflow: hidden;

    &--blog-single {
        padding-top: 0;
        padding-bottom: 50px;

        @media (max-width: 1199px) {
        }
    }

    @media (max-width: 991px) {
        padding-top: 210px;

        .blog-single & {
            padding-top: 0;
        }

        &--blog-intro {
            padding-top: 30px;
        }
    }

    &--blog-intro {
        .section {
            &__cta {
                @media (min-width: 768px) {
                    width: auto !important;
                }
                @media (max-width: 991px) {
                    margin-bottom: 120px;
                }
            }
            &__star {
                @media (max-width: 767px) {
                    display: none;
                }
            }
            &__content {
                @media (max-width: 499px) {
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
    }
    &__container {
        @include mixins.container($width: 2000px);
        @media (max-width: 767px) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__back {
        margin-top: 30px;
        a {
            color: #ff990e;
            font-weight: 700;
            font-size: 18px;
            text-decoration: none;
            display: block;
            text-align: center;
        }
    }

    &__excerpt {
        text-align: left;
        width: 1200px;
        max-width: 100%;
        margin: 50px auto;

        @media (max-width: 1399px) {
            .blog--archive & {
                margin-top: -50px;
            }
        }

        @media (max-width: 991px) {
            margin-top: 50px;
        }

        @media (max-width: 767px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 36px;
            margin-bottom: 1.5rem;

            @media (max-width: 767px) {
                font-size: 26px;
            }
        }

        p {
            margin-bottom: 1.5rem;
            line-height: 1.25rem;
            font-size: 24px;
            @media (max-width: 767px) {
                font-size: 18px;
            }
        }

        ul {
            list-style: disc;
            padding-left: 20px;
            margin-bottom: 1.5rem;
            line-height: 1.25rem;
            font-size: 24px;
            @media (max-width: 767px) {
                font-size: 18px;
            }
        }

        ol {
            list-style: numer;
            padding-left: 20px;
            line-height: 1.25rem;
            margin-bottom: 1.5rem;
            font-size: 24px;
            @media (max-width: 767px) {
                font-size: 18px;
            }
        }

        b,
        strong {
            font-weight: bold;
        }

        i,
        em {
            font-style: italic;
        }
    }

    &__box {
        position: relative;
        background: linear-gradient(to bottom, #9fbacd, #103a59);
        border-radius: 160px 80px 80px 80px;

        .page-about & {
            border-radius: 80px;
        }

        @media (max-width: 991px) {
            border-radius: 80px;
            margin-top: 160px;
        }

        @media (max-width: 767px) {
            border-radius: 20px;
        }

        @media (max-width: 430px) {
            margin-top: 35dvw;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: -100px;
            margin: 0 auto;
            background-color: #fe990f;
            width: 20px;
            height: 200px;
            border-radius: 10px;
            left: 50%;
            transform: translateX(-50%);

            @media (max-width: 767px) {
                bottom: -90px;
                width: 12px;
                height: 180px;
            }
        }

        @media (max-width: 991px) {
            .page-metodo & {
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: -195px;
                    margin: 0 auto;
                    background-color: #fe990f;
                    width: 20px;
                    height: 140px;
                    border-radius: 10px;
                    left: 50%;
                    transform: translate(-50%, -100%);
                }
            }
        }
    }

    &__star {
        position: absolute;
        top: 1px;
        right: -7px;

        img {
            display: block;
            max-width: 100%;
        }

        @media (max-width: 1799px) {
            width: 60px;
        }

        @media (max-width: 767px) {
            position: absolute;
            top: -160px;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 40px;
        }
    }

    &__cols {
        display: flex;

        .blog-single & {
            align-items: center;
        }
    }

    &__content {
        width: calc(50% + 10px);
        overflow: hidden;
        .blog--archive & {
            margin-top: -130px;
        }
        padding-right: 50px;

        .blog-single & {
            @media (max-width: 1199px) {
                padding-right: 0;
            }

            @media (max-width: 991px) {
                margin-top: 0;
                padding-left: 0;
            }

            @media (max-width: 767px) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .blog--archive  & {
            padding-top: 40px;
            text-align: left;

            @media (max-width: 991px) {
                padding-top: 0;
                text-align: center;
            }
        }
    }

    &__image {
        width: calc(50% - 10px);
        position: relative;

        img {
            display: block;
            width: calc(100% + 80px);
            position: absolute;
            right: 35px;

            .blog--archive & {
                top: -90px;
            }

            .blog-single & {
                max-height: 100%;
                aspect-ratio: 1 / 1;
                max-width: 100%;
            }

            @media (max-width: 1399px) {
                width: 100%;
            }
        }

        .blog-single & {
            @media (min-width: 992px) {
                aspect-ratio: 1 / 1;
            }
        }
    }

    &__title {
        @include mixins.title(white);
        text-align: left;
        margin-bottom: 25px;

        .blog-single & {
            color: #023f5c !important;
        }

        &:before {
            content: "";
            display: block;
            margin: 0;
            background-color: #fe990f;
            width: 20px;
            height: 200px;
            border-radius: 10px;
            margin-bottom: 30px;

            .blog & {
                display: none;
            }
        }
    }

    &__subtitle {
        @include mixins.subtitle(white);
        text-align: left;
        margin-bottom: 25px;
    }

    &__date {
        @include mixins.text(white, left);

        strong {
            color: white;
            font-weight: 700 !important;
        }

        &:before {
            content: "";
            display: block;
            margin: 0;
            background-color: #fe990f;
            width: 20px;
            height: 200px;
            border-radius: 10px;
            margin-bottom: 10px;

            @media (max-width: 767px) {
                height: 100px;
            }

            .blog-single & {
                position: absolute;
                top: 40px;
            }

            .blog--archive & {
                top: -20px;
                position: relative;

                @media (max-width: 991px) {
                    display: none;
                }
            }
        }

        .blog-single & {
            color: #023f5c !important;

            strong {
                color: #ff990e;
            }

            &:before {
                @media (max-width: 1799px) {
                    height: 150px;
                }
                @media (max-width: 1199px) {
                    display: none;
                }
            }
        }

        .blog & {
            padding-top: 10px;
        }
    }

    &__title-wrap {
        display: flex;
        flex-direction: column;

        .blog & {
            height: 360px;

            @media (max-width: 991px) {
                height: auto;
            }
        }
    }

    &__share {
        text-align: left;
        margin-top: -10px;

        a {
            font-size: 18px;
            color: #ff990e;
            text-decoration: none;
            text-align: left;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .linkedin {
            width: 24px;
            height: 24px;

            img,
            svg {
                max-width: 100%;
                display: block;
            }
        }
    }

    &__text,
    &__list {
        margin-bottom: 25px;
        padding-right: 0;

        p,
        li {
            @include mixins.text(white, left);
        }

        @media (max-width: 1599px) {
            padding-right: 0;
        }

        .blog & {
            flex: 1;
            margin-bottom: 0;
            overflow: hidden;
        }
    }

    &__list {
        margin-bottom: 60px;
        @include mixins.list();
    }

    &__cta {
        @include mixins.button(white, #023f5c, #023f5c);
        margin-bottom: 140px;
        position: relative;

        @media (max-width: 991px) {
            margin: 0 auto;
            right: 0;
            left: 0;
            max-width: 100%;
            width: 420px;
            margin-bottom: 140px;
        }

        @media (max-width: 499px) {
            width: auto;
            span {
                display: none;
            }
        }

        @media (max-width: 399px) {
            max-width: 100%;
            width: calc(100% - 40px);
            padding-left: 0;
            padding-right: 0;
            justify-content: center;
        }

        .blog & {
            margin-top: 40px;
        }
    }

    &--white {
        padding-bottom: 0;

        .section {
            &__title {
                @include mixins.title(#023f5c);
                text-align: left;
                &:before {
                    display: none;
                }
            }

            &__subtitle {
                @include mixins.subtitle(#023f5c);
                text-align: left;
            }

            &__text,
            &__list {
                p,
                li {
                    @include mixins.text(#023f5c, left);
                }
            }

            &__list {
                margin-bottom: 60px;
                @include mixins.list(#598ba7);
            }

            &__content {
                padding-right: 0px;
            }

            &__image {
                img {
                    left: 35px;
                }
            }

            &__cta {
                @include mixins.button(#023f5c, white, white);
                margin-bottom: 0;
            }
        }
    }

    &--about {
        + .section {
            &--about {
                margin-top: 70px;
                padding-top: 100px;
                position: relative;

                &:before {
                    content: "";
                    display: block;
                    width: 320px;
                    height: 20px;
                    background-color: #033f5b;
                    border-radius: 10px;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        padding-top: 70px;
        padding-bottom: 0;

        .section {
            &__cols {
                align-items: flex-start;
            }

            &__title {
                @include mixins.title(#023f5c);
                text-align: center;

                @media (max-width: 767px) {
                    padding-left: 20px;
                    padding-right: 20px;
                }

                strong {
                    color: #fe990f;
                }
                &:before {
                    display: none;
                }
            }

            &__subtitle {
                @include mixins.subtitle(#023f5c);

                & {
                    text-align: left;
                    padding-top: 40px;
                }

                @media (max-width: 991px) {
                    padding-top: 0;
                }
            }

            &__text {
                p {
                    @include mixins.text(#023f5c, left);
                    margin-bottom: 1em;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            &__content,
            &__image {
                width: 50%;
                position: relative;
                margin: 0;

                img {
                    width: 100%;
                    position: relative;
                    right: auto !important;
                    top: 0 !important;
                    margin-top: 40px;
                }
            }

            &__content {
                @media (min-width: 992px) and (max-width: 1399px) {
                    padding-right: 0;
                }
            }

            &__image {
                @media (min-width: 992px) {
                    padding-right: 26px;
                }

                position: relative;
                img {
                    transform: none !important;
                }

                .section {
                    &__cta {
                        @include mixins.button(#fe990f, white, white);

                        & {
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            margin-top: 70px;
                            margin-left: -13px;

                            @media (max-width: 1799px) {
                                width: 290px;
                            }

                            @media (max-width: 1199px) {
                                width: auto;
                            }

                            @media (max-width: 991px) {
                                margin: 0 auto;
                                transform: translateY(-50%);
                                left: auto;
                                position: relative;
                            }
                        }

                        &:after {
                            content: "";
                            display: block;
                            position: absolute;
                            bottom: 50px;
                            margin: 0 auto;
                            background-color: #fe990f;
                            width: 20px;
                            height: 200px;
                            border-radius: 10px;
                            left: 50%;
                            transform: translateX(-50%);
                            z-index: -1;

                            @media (max-width: 1199px) {
                                height: 180px;
                            }
                            @media (max-width: 991px) {
                                display: none;
                            }
                        }
                    }
                }
            }

            &__caption {
                @include mixins.text(white, center);

                & {
                    font-weight: 700;
                    position: absolute;
                    left: 0;
                    right: 26px;
                    bottom: 120px;
                    z-index: 9;
                    text-align: center;
                    line-height: 1em;

                    @media (max-width: 991px) {
                        right: 0;
                        bottom: 150px;
                        max-width: 300px;
                        margin: 0 auto;
                        text-shadow: 0 0 40px black;
                    }
                }
            }
        }
    }

    &--quote {
        padding-bottom: 0;
        @media (max-width: 1799px) {
            padding-top: 130px;
        }

        @media (max-width: 991px) {
            padding-top: 0px;
            margin-top: -20px;
        }

        @media (max-width: 767px) {
        }

        .section {
            &__box {
                padding: 130px 100px;
                background: linear-gradient(to top, #9fbacd, #103a59);

                @media (max-width: 1799px) {
                    padding: 110px 80px;
                }
                @media (max-width: 767px) {
                    padding: 80px 20px;
                    border-radius: 50px;
                }
            }

            &__heading {
                @include mixins.h3(white);
                & {
                    font-style: italic;
                    text-align: center;
                }
            }

            &__cta {
                @include mixins.button(white, #9eb9cd, #9eb9cd);
                margin-top: 40px;
                margin-bottom: 0;
                border: 10px solid #9eb9cd;
                position: relative;
                margin: 0 auto;
                transform: translateY(-50%);

                @media (max-width: 991px) {
                    margin: 0 auto;
                    right: 0;
                    left: 0;
                    max-width: 100%;
                    width: 420px;
                }

                @media (max-width: 499px) {
                    width: auto;
                    span {
                        display: none;
                    }
                }

                @media (max-width: 399px) {
                    max-width: 100%;
                    width: calc(100% - 40px);
                    padding-left: 0;
                    padding-right: 0;
                    justify-content: center;
                }
            }

            &__box {
                &:after {
                    top: -120px;
                    bottom: auto;
                    left: auto;
                    right: 35%;
                }
            }
        }
    }

    &--gradient {
        background: linear-gradient(to bottom, rgba(199, 237, 255, 0) 0%, rgba(199, 237, 255, 1) 100%);
        padding-bottom: 100px;
        border-radius: 0 0 80px 80px;
        overflow: hidden;
    }

    @media (max-width: 991px) {
        &__cols {
            flex-wrap: wrap;
        }

        &__content,
        &__image {
            width: 100% !important;
            padding-left: 50px;
            padding-right: 50px;
        }

        &--white {
            &__content,
            &__image {
                padding-left: 0px;
                padding-right: 0px;
            }
        }

        &__content {
            order: 2;
        }

        &__image {
            img {
                width: 100%;
                left: auto !important;
                right: auto !important;
                top: 0 !important;
                max-width: 320px;
                margin: 0 auto;
                position: relative !important;
                transform: translateY(-50%);

                .blog-single & {
                    @media (max-width: 991px) {
                        transform: none;
                        margin: 20px auto;
                    }
                }
            }
        }

        &__title {
            &:before {
                display: none;
            }
        }

        &__text,
        &__list {
            padding-right: 0;
        }

        &--gradient {
            padding-bottom: 0;
        }
    }
}

.section--about .section__title.section__title--murnigotti {
    @media (max-width: 1399px) {
        letter-spacing: -3.3px;
    }
}
