/* Layout */
/* Typography */
.section {
  padding: 180px 0 100px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.section--blog-single {
  padding-bottom: 50px;
}
@media (max-width: 1199px) {
  .section--blog-single {
    padding-top: 100px;
  }
}
@media (max-width: 991px) {
  .section {
    padding-top: 210px;
  }
  .blog-single .section {
    padding-top: 0;
  }
  .section--blog-intro {
    padding-top: 30px;
  }
}
@media (min-width: 768px) {
  .section--blog-intro .section__cta {
    width: auto !important;
  }
}
@media (max-width: 991px) {
  .section--blog-intro .section__cta {
    margin-bottom: 120px;
  }
}
@media (max-width: 767px) {
  .section--blog-intro .section__star {
    display: none;
  }
}
@media (max-width: 499px) {
  .section--blog-intro .section__content {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.section__container {
  width: 2000px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 150px;
  padding-right: 150px;
}
@media (max-width: 1399px) {
  .section__container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 991px) {
  .section__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .section__container {
    padding-left: 0;
    padding-right: 0;
  }
}
.section__back {
  margin-top: 30px;
}
.section__back a {
  color: #ff990e;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.section__excerpt {
  text-align: left;
  width: 1200px;
  max-width: 100%;
  margin: 50px auto;
}
@media (max-width: 1399px) {
  .section__excerpt {
    margin-top: -50px;
  }
}
@media (max-width: 991px) {
  .section__excerpt {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .section__excerpt {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.section__excerpt h2,
.section__excerpt h3,
.section__excerpt h4,
.section__excerpt h5,
.section__excerpt h6 {
  font-size: 36px;
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .section__excerpt h2,
  .section__excerpt h3,
  .section__excerpt h4,
  .section__excerpt h5,
  .section__excerpt h6 {
    font-size: 26px;
  }
}
.section__excerpt p {
  margin-bottom: 1.5rem;
  line-height: 1.25rem;
  font-size: 24px;
}
@media (max-width: 767px) {
  .section__excerpt p {
    font-size: 18px;
  }
}
.section__excerpt ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  line-height: 1.25rem;
  font-size: 24px;
}
@media (max-width: 767px) {
  .section__excerpt ul {
    font-size: 18px;
  }
}
.section__excerpt ol {
  list-style: numer;
  padding-left: 20px;
  line-height: 1.25rem;
  margin-bottom: 1.5rem;
  font-size: 24px;
}
@media (max-width: 767px) {
  .section__excerpt ol {
    font-size: 18px;
  }
}
.section__excerpt b,
.section__excerpt strong {
  font-weight: bold;
}
.section__excerpt i,
.section__excerpt em {
  font-style: italic;
}
.section__box {
  position: relative;
  background: linear-gradient(to bottom, #9fbacd, #103a59);
  border-radius: 160px 80px 80px 80px;
}
.page-about .section__box {
  border-radius: 80px;
}
@media (max-width: 991px) {
  .section__box {
    border-radius: 80px;
    margin-top: 160px;
  }
}
@media (max-width: 767px) {
  .section__box {
    border-radius: 20px;
  }
}
.section__box:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -100px;
  margin: 0 auto;
  background-color: #fe990f;
  width: 20px;
  height: 200px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .section__box:after {
    bottom: -90px;
    width: 12px;
    height: 180px;
  }
}
@media (max-width: 991px) {
  .page-metodo .section__box:before {
    content: "";
    display: block;
    position: absolute;
    top: -195px;
    margin: 0 auto;
    background-color: #fe990f;
    width: 20px;
    height: 140px;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, -100%);
  }
}
.section__star {
  position: absolute;
  top: 1px;
  right: -7px;
}
.section__star img {
  display: block;
  max-width: 100%;
}
@media (max-width: 1799px) {
  .section__star {
    width: 60px;
  }
}
@media (max-width: 767px) {
  .section__star {
    position: absolute;
    top: -160px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40px;
  }
}
.section__cols {
  display: flex;
}
.blog-single .section__cols {
  align-items: center;
}
.section__content {
  width: calc(50% + 10px);
  overflow: hidden;
  margin-top: -130px;
  padding-right: 50px;
}
@media (max-width: 1199px) {
  .blog-single .section__content {
    padding-right: 0;
  }
}
@media (max-width: 991px) {
  .blog-single .section__content {
    margin-top: 0;
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .blog-single .section__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.blog .section__content {
  padding-top: 40px;
  text-align: left;
}
@media (max-width: 991px) {
  .blog .section__content {
    padding-top: 0;
    text-align: center;
  }
}
.section__image {
  width: calc(50% - 10px);
  position: relative;
}
.section__image img {
  display: block;
  width: calc(100% + 80px);
  position: absolute;
  right: 35px;
  top: -90px;
}
@media (max-width: 1399px) {
  .section__image img {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .blog-single .section__image {
    aspect-ratio: 1/1;
  }
}
.section__title {
  font-size: 70px;
  letter-spacing: -0.04em;
  color: white;
  text-align: center;
  text-align: left;
  margin-bottom: 25px;
}
@media (max-width: 1799px) {
  .section__title {
    font-size: 54px;
  }
}
@media (max-width: 1199px) {
  .section__title {
    font-size: 48px;
  }
}
@media (max-width: 991px) {
  .section__title {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .section__title {
    font-size: 32px;
  }
}
@media (max-width: 479px) {
  .section__title {
    font-size: 30px;
  }
}
.blog-single .section__title {
  color: #023f5c !important;
}
.section__title:before {
  content: "";
  display: block;
  margin: 0;
  background-color: #fe990f;
  width: 20px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.blog .section__title:before {
  display: none;
}
.section__subtitle {
  font-size: 60px;
  letter-spacing: -0.05em;
  color: white;
  text-align: center;
  text-align: left;
  margin-bottom: 25px;
}
@media (max-width: 1799px) {
  .section__subtitle {
    font-size: 36px;
    margin-top: 4px;
  }
}
@media (max-width: 767px) {
  .section__subtitle {
    font-size: 32px;
  }
}
@media (max-width: 479px) {
  .section__subtitle {
    font-size: 30px;
  }
}
.section__date {
  font-size: 30px;
  line-height: 1.3em;
  color: white;
  text-align: left;
}
@media (max-width: 1799px) {
  .section__date {
    font-size: 26px;
  }
}
@media (max-width: 1199px) {
  .section__date {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .section__date {
    font-size: 18px;
  }
}
.section__date strong {
  color: white;
  font-weight: 700 !important;
}
.section__date:before {
  content: "";
  display: block;
  margin: 0;
  background-color: #fe990f;
  width: 20px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .section__date:before {
    height: 100px;
  }
}
.blog-single .section__date:before {
  position: absolute;
  top: 40px;
}
.blog .section__date:before {
  top: -20px;
  position: relative;
}
@media (max-width: 991px) {
  .blog .section__date:before {
    display: none;
  }
}
.blog-single .section__date {
  color: #023f5c !important;
}
.blog-single .section__date strong {
  color: #ff990e;
}
@media (max-width: 1799px) {
  .blog-single .section__date:before {
    height: 150px;
  }
}
@media (max-width: 1199px) {
  .blog-single .section__date:before {
    display: none;
  }
}
.blog .section__date {
  padding-top: 10px;
}
.section__title-wrap {
  display: flex;
  flex-direction: column;
}
.blog .section__title-wrap {
  height: 360px;
}
@media (max-width: 991px) {
  .blog .section__title-wrap {
    height: auto;
  }
}
.section__share {
  text-align: left;
  margin-top: -10px;
}
.section__share a {
  font-size: 18px;
  color: #ff990e;
  text-decoration: none;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
}
.section__share .linkedin {
  width: 24px;
  height: 24px;
}
.section__share .linkedin img,
.section__share .linkedin svg {
  max-width: 100%;
  display: block;
}
.section__text, .section__list {
  margin-bottom: 25px;
  padding-right: 0;
}
.section__text p,
.section__text li, .section__list p,
.section__list li {
  font-size: 30px;
  line-height: 1.3em;
  color: white;
  text-align: left;
}
@media (max-width: 1799px) {
  .section__text p,
  .section__text li, .section__list p,
  .section__list li {
    font-size: 26px;
  }
}
@media (max-width: 1199px) {
  .section__text p,
  .section__text li, .section__list p,
  .section__list li {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .section__text p,
  .section__text li, .section__list p,
  .section__list li {
    font-size: 18px;
  }
}
@media (max-width: 1599px) {
  .section__text, .section__list {
    padding-right: 0;
  }
}
.blog .section__text, .blog .section__list {
  flex: 1;
  margin-bottom: 0;
  overflow: hidden;
}
.section__list {
  margin-bottom: 60px;
}
.section__list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 34px;
}
.section__list li:before {
  content: "";
  display: block;
  border-radius: 50%;
  background-color: #fe990f;
  position: absolute;
  top: 12px;
  left: 0;
  width: 20px;
  height: 20px;
}
@media (max-width: 1799px) {
  .section__list li:before {
    top: 8px;
  }
}
@media (max-width: 1199px) {
  .section__list li {
    padding-left: 24px;
  }
  .section__list li:before {
    width: 14px;
    height: 14px;
    top: 7px;
  }
}
.section__cta {
  background-color: white;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
  margin-bottom: 140px;
  position: relative;
}
.section__cta a,
.section__cta button,
.section__cta span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: #023f5c;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.section__cta a span,
.section__cta button span,
.section__cta span span {
  color: #023f5c;
}
.section__cta:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #023f5c;
  margin-right: 30px;
}
@media (max-width: 1799px) {
  .section__cta {
    padding: 25px 40px;
  }
  .section__cta a,
  .section__cta button,
  .section__cta span {
    font-size: 30px;
  }
  .section__cta:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 1199px) {
  .section__cta {
    padding: 20px 30px;
  }
  .section__cta a,
  .section__cta button,
  .section__cta span {
    font-size: 24px;
  }
  .section__cta:before {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .section__cta {
    padding: 15px 20px;
  }
  .section__cta a,
  .section__cta button,
  .section__cta span {
    font-size: 20px;
  }
  .section__cta:before {
    margin-right: 10px;
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 991px) {
  .section__cta {
    margin: 0 auto;
    right: 0;
    left: 0;
    max-width: 100%;
    width: 420px;
    margin-bottom: 140px;
  }
}
@media (max-width: 499px) {
  .section__cta {
    width: auto;
  }
  .section__cta span {
    display: none;
  }
}
@media (max-width: 399px) {
  .section__cta {
    max-width: 100%;
    width: calc(100% - 40px);
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }
}
.blog .section__cta {
  margin-top: 40px;
}
.section--white {
  padding-bottom: 0;
}
.section--white .section__title {
  font-size: 70px;
  letter-spacing: -0.04em;
  color: #023f5c;
  text-align: center;
  text-align: left;
}
@media (max-width: 1799px) {
  .section--white .section__title {
    font-size: 54px;
  }
}
@media (max-width: 1199px) {
  .section--white .section__title {
    font-size: 48px;
  }
}
@media (max-width: 991px) {
  .section--white .section__title {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .section--white .section__title {
    font-size: 32px;
  }
}
@media (max-width: 479px) {
  .section--white .section__title {
    font-size: 30px;
  }
}
.section--white .section__title:before {
  display: none;
}
.section--white .section__subtitle {
  font-size: 60px;
  letter-spacing: -0.05em;
  color: #023f5c;
  text-align: center;
  text-align: left;
}
@media (max-width: 1799px) {
  .section--white .section__subtitle {
    font-size: 36px;
    margin-top: 4px;
  }
}
@media (max-width: 767px) {
  .section--white .section__subtitle {
    font-size: 32px;
  }
}
@media (max-width: 479px) {
  .section--white .section__subtitle {
    font-size: 30px;
  }
}
.section--white .section__text p,
.section--white .section__text li, .section--white .section__list p,
.section--white .section__list li {
  font-size: 30px;
  line-height: 1.3em;
  color: #023f5c;
  text-align: left;
}
@media (max-width: 1799px) {
  .section--white .section__text p,
  .section--white .section__text li, .section--white .section__list p,
  .section--white .section__list li {
    font-size: 26px;
  }
}
@media (max-width: 1199px) {
  .section--white .section__text p,
  .section--white .section__text li, .section--white .section__list p,
  .section--white .section__list li {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .section--white .section__text p,
  .section--white .section__text li, .section--white .section__list p,
  .section--white .section__list li {
    font-size: 18px;
  }
}
.section--white .section__list {
  margin-bottom: 60px;
}
.section--white .section__list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 34px;
}
.section--white .section__list li:before {
  content: "";
  display: block;
  border-radius: 50%;
  background-color: #598ba7;
  position: absolute;
  top: 12px;
  left: 0;
  width: 20px;
  height: 20px;
}
@media (max-width: 1799px) {
  .section--white .section__list li:before {
    top: 8px;
  }
}
@media (max-width: 1199px) {
  .section--white .section__list li {
    padding-left: 24px;
  }
  .section--white .section__list li:before {
    width: 14px;
    height: 14px;
    top: 7px;
  }
}
.section--white .section__content {
  padding-right: 0px;
}
.section--white .section__image img {
  left: 35px;
}
.section--white .section__cta {
  background-color: #023f5c;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
  margin-bottom: 0;
}
.section--white .section__cta a,
.section--white .section__cta button,
.section--white .section__cta span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.section--white .section__cta a span,
.section--white .section__cta button span,
.section--white .section__cta span span {
  color: white;
}
.section--white .section__cta:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  margin-right: 30px;
}
@media (max-width: 1799px) {
  .section--white .section__cta {
    padding: 25px 40px;
  }
  .section--white .section__cta a,
  .section--white .section__cta button,
  .section--white .section__cta span {
    font-size: 30px;
  }
  .section--white .section__cta:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 1199px) {
  .section--white .section__cta {
    padding: 20px 30px;
  }
  .section--white .section__cta a,
  .section--white .section__cta button,
  .section--white .section__cta span {
    font-size: 24px;
  }
  .section--white .section__cta:before {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .section--white .section__cta {
    padding: 15px 20px;
  }
  .section--white .section__cta a,
  .section--white .section__cta button,
  .section--white .section__cta span {
    font-size: 20px;
  }
  .section--white .section__cta:before {
    margin-right: 10px;
    width: 10px;
    height: 10px;
  }
}
.section--about {
  padding-top: 70px;
  padding-bottom: 0;
}
.section--about + .section--about {
  margin-top: 70px;
  padding-top: 100px;
  position: relative;
}
.section--about + .section--about:before {
  content: "";
  display: block;
  width: 320px;
  height: 20px;
  background-color: #033f5b;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.section--about .section__cols {
  align-items: flex-start;
}
.section--about .section__title {
  font-size: 70px;
  letter-spacing: -0.04em;
  color: #023f5c;
  text-align: center;
  text-align: center;
}
@media (max-width: 1799px) {
  .section--about .section__title {
    font-size: 54px;
  }
}
@media (max-width: 1199px) {
  .section--about .section__title {
    font-size: 48px;
  }
}
@media (max-width: 991px) {
  .section--about .section__title {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .section--about .section__title {
    font-size: 32px;
  }
}
@media (max-width: 479px) {
  .section--about .section__title {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .section--about .section__title {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.section--about .section__title strong {
  color: #fe990f;
}
.section--about .section__title:before {
  display: none;
}
.section--about .section__subtitle {
  font-size: 60px;
  letter-spacing: -0.05em;
  color: #023f5c;
  text-align: center;
}
@media (max-width: 1799px) {
  .section--about .section__subtitle {
    font-size: 36px;
    margin-top: 4px;
  }
}
@media (max-width: 767px) {
  .section--about .section__subtitle {
    font-size: 32px;
  }
}
@media (max-width: 479px) {
  .section--about .section__subtitle {
    font-size: 30px;
  }
}
.section--about .section__subtitle {
  text-align: left;
  padding-top: 40px;
}
@media (max-width: 991px) {
  .section--about .section__subtitle {
    padding-top: 0;
  }
}
.section--about .section__text p {
  font-size: 30px;
  line-height: 1.3em;
  color: #023f5c;
  text-align: left;
  margin-bottom: 1em;
}
@media (max-width: 1799px) {
  .section--about .section__text p {
    font-size: 26px;
  }
}
@media (max-width: 1199px) {
  .section--about .section__text p {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .section--about .section__text p {
    font-size: 18px;
  }
}
.section--about .section__text p:last-child {
  margin-bottom: 0;
}
.section--about .section__content, .section--about .section__image {
  width: 50%;
  position: relative;
  margin: 0;
}
.section--about .section__content img, .section--about .section__image img {
  width: 100%;
  position: relative;
  right: auto !important;
  top: 0 !important;
  margin-top: 40px;
}
@media (min-width: 992px) and (max-width: 1399px) {
  .section--about .section__content {
    padding-right: 0;
  }
}
.section--about .section__image {
  position: relative;
}
@media (min-width: 992px) {
  .section--about .section__image {
    padding-right: 26px;
  }
}
.section--about .section__image img {
  transform: none !important;
}
.section--about .section__image .section__cta {
  background-color: #fe990f;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
}
.section--about .section__image .section__cta a,
.section--about .section__image .section__cta button,
.section--about .section__image .section__cta span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.section--about .section__image .section__cta a span,
.section--about .section__image .section__cta button span,
.section--about .section__image .section__cta span span {
  color: white;
}
.section--about .section__image .section__cta:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  margin-right: 30px;
}
@media (max-width: 1799px) {
  .section--about .section__image .section__cta {
    padding: 25px 40px;
  }
  .section--about .section__image .section__cta a,
  .section--about .section__image .section__cta button,
  .section--about .section__image .section__cta span {
    font-size: 30px;
  }
  .section--about .section__image .section__cta:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 1199px) {
  .section--about .section__image .section__cta {
    padding: 20px 30px;
  }
  .section--about .section__image .section__cta a,
  .section--about .section__image .section__cta button,
  .section--about .section__image .section__cta span {
    font-size: 24px;
  }
  .section--about .section__image .section__cta:before {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .section--about .section__image .section__cta {
    padding: 15px 20px;
  }
  .section--about .section__image .section__cta a,
  .section--about .section__image .section__cta button,
  .section--about .section__image .section__cta span {
    font-size: 20px;
  }
  .section--about .section__image .section__cta:before {
    margin-right: 10px;
    width: 10px;
    height: 10px;
  }
}
.section--about .section__image .section__cta {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 70px;
  margin-left: -13px;
}
@media (max-width: 1799px) {
  .section--about .section__image .section__cta {
    width: 290px;
  }
}
@media (max-width: 1199px) {
  .section--about .section__image .section__cta {
    width: auto;
  }
}
@media (max-width: 991px) {
  .section--about .section__image .section__cta {
    margin: 0 auto;
    transform: translateY(-50%);
    left: auto;
    position: relative;
  }
}
.section--about .section__image .section__cta:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 50px;
  margin: 0 auto;
  background-color: #fe990f;
  width: 20px;
  height: 200px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
@media (max-width: 1199px) {
  .section--about .section__image .section__cta:after {
    height: 180px;
  }
}
@media (max-width: 991px) {
  .section--about .section__image .section__cta:after {
    display: none;
  }
}
.section--about .section__caption {
  font-size: 30px;
  line-height: 1.3em;
  color: white;
  text-align: center;
}
@media (max-width: 1799px) {
  .section--about .section__caption {
    font-size: 26px;
  }
}
@media (max-width: 1199px) {
  .section--about .section__caption {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .section--about .section__caption {
    font-size: 18px;
  }
}
.section--about .section__caption {
  font-weight: 700;
  position: absolute;
  left: 0;
  right: 26px;
  bottom: 120px;
  z-index: 9;
  text-align: center;
  line-height: 1em;
}
@media (max-width: 991px) {
  .section--about .section__caption {
    right: 0;
    bottom: 150px;
    max-width: 300px;
    margin: 0 auto;
    text-shadow: 0 0 40px black;
  }
}
.section--quote {
  padding-bottom: 0;
}
@media (max-width: 1799px) {
  .section--quote {
    padding-top: 130px;
  }
}
@media (max-width: 991px) {
  .section--quote {
    padding-top: 0px;
    margin-top: -20px;
  }
}
.section--quote .section__box {
  padding: 130px 100px;
  background: linear-gradient(to top, #9fbacd, #103a59);
}
@media (max-width: 1799px) {
  .section--quote .section__box {
    padding: 110px 80px;
  }
}
@media (max-width: 767px) {
  .section--quote .section__box {
    padding: 80px 20px;
    border-radius: 50px;
  }
}
.section--quote .section__heading {
  font-size: 50px;
  letter-spacing: -0.05em;
  color: white;
  text-align: center;
  line-height: 1.3em;
}
@media (max-width: 1799px) {
  .section--quote .section__heading {
    font-size: 32px;
  }
}
.section--quote .section__heading {
  font-style: italic;
  text-align: center;
}
.section--quote .section__cta {
  background-color: white;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  padding: 30px 50px;
  margin-top: 40px;
  margin-bottom: 0;
  border: 10px solid #9eb9cd;
  position: relative;
  margin: 0 auto;
  transform: translateY(-50%);
}
.section--quote .section__cta a,
.section--quote .section__cta button,
.section--quote .section__cta span {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: #9eb9cd;
  font-size: 40px;
  text-decoration: none;
  line-height: 1em;
  position: relative;
  margin-top: -0.1em;
}
.section--quote .section__cta a span,
.section--quote .section__cta button span,
.section--quote .section__cta span span {
  color: #9eb9cd;
}
.section--quote .section__cta:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9eb9cd;
  margin-right: 30px;
}
@media (max-width: 1799px) {
  .section--quote .section__cta {
    padding: 25px 40px;
  }
  .section--quote .section__cta a,
  .section--quote .section__cta button,
  .section--quote .section__cta span {
    font-size: 30px;
  }
  .section--quote .section__cta:before {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 1199px) {
  .section--quote .section__cta {
    padding: 20px 30px;
  }
  .section--quote .section__cta a,
  .section--quote .section__cta button,
  .section--quote .section__cta span {
    font-size: 24px;
  }
  .section--quote .section__cta:before {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .section--quote .section__cta {
    padding: 15px 20px;
  }
  .section--quote .section__cta a,
  .section--quote .section__cta button,
  .section--quote .section__cta span {
    font-size: 20px;
  }
  .section--quote .section__cta:before {
    margin-right: 10px;
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 991px) {
  .section--quote .section__cta {
    margin: 0 auto;
    right: 0;
    left: 0;
    max-width: 100%;
    width: 420px;
  }
}
@media (max-width: 499px) {
  .section--quote .section__cta {
    width: auto;
  }
  .section--quote .section__cta span {
    display: none;
  }
}
@media (max-width: 399px) {
  .section--quote .section__cta {
    max-width: 100%;
    width: calc(100% - 40px);
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }
}
.section--quote .section__box:after {
  top: -120px;
  bottom: auto;
  left: auto;
  right: 35%;
}
.section--gradient {
  background: linear-gradient(to bottom, rgba(199, 237, 255, 0) 0%, rgb(199, 237, 255) 100%);
  padding-bottom: 100px;
  border-radius: 0 0 80px 80px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .section__cols {
    flex-wrap: wrap;
  }
  .section__content, .section__image {
    width: 100% !important;
    padding-left: 50px;
    padding-right: 50px;
  }
  .section--white__content, .section--white__image {
    padding-left: 0px;
    padding-right: 0px;
  }
  .section__content {
    order: 2;
  }
  .section__image img {
    width: 100%;
    left: auto !important;
    right: auto !important;
    top: 0 !important;
    max-width: 320px;
    margin: 0 auto;
    position: relative !important;
    transform: translateY(-50%);
  }
}
@media (max-width: 991px) and (max-width: 991px) {
  .blog-single .section__image img {
    transform: none;
    margin: 20px auto;
  }
}
@media (max-width: 991px) {
  .section__title:before {
    display: none;
  }
  .section__text, .section__list {
    padding-right: 0;
  }
  .section--gradient {
    padding-bottom: 0;
  }
}

@media (max-width: 1399px) {
  .section--about .section__title.section__title--murnigotti {
    letter-spacing: -3.3px;
  }
}