@use "mixins";

.why {
    margin-top: 70px;

    @media (max-width: 1799px) {
        margin-top: 100px;
    }

    @media (max-width: 767px) {
        margin-top: 40px;
    }

    &__container {
        @include mixins.container(2000px);
    }

    &__title {
        @include mixins.title();
    }

    &__cols {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 70px;
        gap: 100px;

        @media (max-width: 1799px) {
            gap: 50px;
            margin-top: 50px;
        }

        @media (max-width: 991px) {
            gap: 25px;
        }
        @media (max-width: 767px) {
            margin-top: 40px;
        }
    }

    &__col {
        color: white;
        @include mixins.cols(3, 100);
        @media (max-width: 767px) {
            width: 100%;
            max-width: 340px;
        }
    }

    &__box {
        padding: 90px 0px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 40px;
        overflow: hidden;
        position: relative;

        @media (max-width: 1799px) {
            padding: 60px 0;
        }

        @media (max-width: 1259px) {
            background-size: 100% 100%;
        }

        @media (max-width: 991px) {
            padding: 30px 0;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 90px;
            background-color: red;

            @media (max-width: 1799px) {
                height: 60px;
            }

            @media (max-width: 991px) {
                height: 30px;
            }
        }

        &:after {
            bottom: 0;
            top: auto;
        }

        @media (max-width: 767px) {
            background-image: none;
        }

        &--innovazione {
            background-image: url("../img/bg/bg-innovazione.svg");

            &:before,
            &:after {
                background-color: #9fbacd;
            }

            @media (max-width: 767px) {
                background-color: #9fbacd;
                background: linear-gradient(
                    to bottom,
                    #fff 0px,
                    #fff 30px,
                    #9fbacd 30px,
                    #9fbacd calc(100% - 30px),
                    #fff calc(100% - 30px),
                    #fff 100%
                );

                &:after {
                    background-image: url("../img/bg/bg-innovazione--bottom.svg");
                    background-position: bottom center;
                    background-size: cover;
                    background-color: transparent;
                }
            }
        }

        &--creativita {
            background-image: url("../img/bg/bg-creativita.svg");

            &:before,
            &:after {
                background-color: #598ba7;
            }

            @media (max-width: 767px) {
                background-color: #598ba7;
                background: linear-gradient(
                    to bottom,
                    #fff 0px,
                    #fff 30px,
                    #598ba7 30px,
                    #598ba7 calc(100% - 30px),
                    #fff calc(100% - 30px),
                    #fff 100%
                );

                &:before {
                    background-image: url("../img/bg/bg-creativita--top.svg");
                    background-position: top center;
                    background-size: cover;
                    background-color: transparent;
                }

                &:after {
                    background-image: url("../img/bg/bg-creativita--bottom.svg");
                    background-position: bottom center;
                    background-size: cover;
                    background-color: transparent;
                }
            }
        }

        &--risultati {
            background-image: url("../img/bg/bg-risultati.svg");
            &:before,
            &:after {
                background-color: #103b59;
            }

            @media (max-width: 767px) {
                background-color: #103b59;
                background: linear-gradient(
                    to bottom,
                    #fff 0px,
                    #fff 30px,
                    #103b59 30px,
                    #103b59 calc(100% - 30px),
                    #fff calc(100% - 30px),
                    #fff 100%
                );

                &:before {
                    background-image: url("../img/bg/bg-risultati--top.svg");
                    background-position: top center;
                    background-size: cover;
                    background-color: transparent;
                }
            }
        }
    }

    &__star {
        position: absolute;
        z-index: 9;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);

        img {
            display: block;
        }

        @media (max-width: 1799px) {
            img {
                width: 50px;
            }
        }

        @media (max-width: 991px) {
            img {
                width: 40px;
                margin-left: -8px;
            }
        }

        @media (max-width: 767px) {
            position: absolute;
            top: auto;
            bottom: -35px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__icon {
        width: 142px;
        height: 142px;
        display: block;
        margin: 0 auto;

        @media (max-width: 767px) {
            margin-top: 10px;
        }
    }

    &__subtitle {
        @include mixins.subtitle(white);
        & {
            margin-top: 30px;

            @media (max-width: 767px) {
                margin-top: 5px;
            }
        }
    }

    &__text {
        font-size: 28px;
        color: white;
        text-align: center;
        margin-top: 20px;

        @media (max-width: 1799px) {
            font-size: 24px;
        }

        @media (max-width: 991px) {
            font-size: 18px;
            margin-top: 8px;
        }
        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
    }

    &__content {
        @include mixins.text();

        & {
            margin: 70px auto 0;
            max-width: 900px;

            @media (max-width: 1799px) {
                margin-top: 70px;
            }

            @media (max-width: 1399px) {
                max-width: 800px;
            }
            @media (max-width: 1199px) {
                max-width: 700px;
            }
            @media (max-width: 991px) {
                margin-top: 55px;
                max-width: 500px;
            }
        }
    }
}
