/* Layout */
/* Typography */
.why {
  margin-top: 70px;
}
@media (max-width: 1799px) {
  .why {
    margin-top: 100px;
  }
}
@media (max-width: 767px) {
  .why {
    margin-top: 40px;
  }
}
.why__container {
  width: 2000px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 150px;
  padding-right: 150px;
}
@media (max-width: 1399px) {
  .why__container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 991px) {
  .why__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.why__title {
  font-size: 70px;
  letter-spacing: -0.04em;
  color: #023f5c;
  text-align: center;
}
@media (max-width: 1799px) {
  .why__title {
    font-size: 54px;
  }
}
@media (max-width: 1199px) {
  .why__title {
    font-size: 48px;
  }
}
@media (max-width: 991px) {
  .why__title {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .why__title {
    font-size: 32px;
  }
}
@media (max-width: 479px) {
  .why__title {
    font-size: 30px;
  }
}
.why__cols {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 70px;
  gap: 100px;
}
@media (max-width: 1799px) {
  .why__cols {
    gap: 50px;
    margin-top: 50px;
  }
}
@media (max-width: 991px) {
  .why__cols {
    gap: 25px;
  }
}
@media (max-width: 767px) {
  .why__cols {
    margin-top: 40px;
  }
}
.why__col {
  color: white;
  position: relative;
  width: calc(100% / 3 - 66.6666666667px);
}
@media (max-width: 1799px) {
  .why__col {
    width: calc(100% / 3 - 33.3333333333px);
  }
}
@media (max-width: 991px) {
  .why__col {
    width: calc(100% / 3 - 20px);
  }
}
@media (max-width: 767px) {
  .why__col {
    width: 100%;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  .why__col {
    width: 100%;
    max-width: 340px;
  }
}
.why__box {
  padding: 90px 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1799px) {
  .why__box {
    padding: 60px 0;
  }
}
@media (max-width: 1259px) {
  .why__box {
    background-size: 100% 100%;
  }
}
@media (max-width: 991px) {
  .why__box {
    padding: 30px 0;
  }
}
.why__box:before, .why__box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: red;
}
@media (max-width: 1799px) {
  .why__box:before, .why__box:after {
    height: 60px;
  }
}
@media (max-width: 991px) {
  .why__box:before, .why__box:after {
    height: 30px;
  }
}
.why__box:after {
  bottom: 0;
  top: auto;
}
@media (max-width: 767px) {
  .why__box {
    background-image: none;
  }
}
.why__box--innovazione {
  background-image: url("../img/bg/bg-innovazione.svg");
}
.why__box--innovazione:before, .why__box--innovazione:after {
  background-color: #9fbacd;
}
@media (max-width: 767px) {
  .why__box--innovazione {
    background-color: #9fbacd;
    background: linear-gradient(to bottom, #fff 0px, #fff 30px, #9fbacd 30px, #9fbacd calc(100% - 30px), #fff calc(100% - 30px), #fff 100%);
  }
  .why__box--innovazione:after {
    background-image: url("../img/bg/bg-innovazione--bottom.svg");
    background-position: bottom center;
    background-size: cover;
    background-color: transparent;
  }
}
.why__box--creativita {
  background-image: url("../img/bg/bg-creativita.svg");
}
.why__box--creativita:before, .why__box--creativita:after {
  background-color: #598ba7;
}
@media (max-width: 767px) {
  .why__box--creativita {
    background-color: #598ba7;
    background: linear-gradient(to bottom, #fff 0px, #fff 30px, #598ba7 30px, #598ba7 calc(100% - 30px), #fff calc(100% - 30px), #fff 100%);
  }
  .why__box--creativita:before {
    background-image: url("../img/bg/bg-creativita--top.svg");
    background-position: top center;
    background-size: cover;
    background-color: transparent;
  }
  .why__box--creativita:after {
    background-image: url("../img/bg/bg-creativita--bottom.svg");
    background-position: bottom center;
    background-size: cover;
    background-color: transparent;
  }
}
.why__box--risultati {
  background-image: url("../img/bg/bg-risultati.svg");
}
.why__box--risultati:before, .why__box--risultati:after {
  background-color: #103b59;
}
@media (max-width: 767px) {
  .why__box--risultati {
    background-color: #103b59;
    background: linear-gradient(to bottom, #fff 0px, #fff 30px, #103b59 30px, #103b59 calc(100% - 30px), #fff calc(100% - 30px), #fff 100%);
  }
  .why__box--risultati:before {
    background-image: url("../img/bg/bg-risultati--top.svg");
    background-position: top center;
    background-size: cover;
    background-color: transparent;
  }
}
.why__star {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}
.why__star img {
  display: block;
}
@media (max-width: 1799px) {
  .why__star img {
    width: 50px;
  }
}
@media (max-width: 991px) {
  .why__star img {
    width: 40px;
    margin-left: -8px;
  }
}
@media (max-width: 767px) {
  .why__star {
    position: absolute;
    top: auto;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.why__icon {
  width: 142px;
  height: 142px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .why__icon {
    margin-top: 10px;
  }
}
.why__subtitle {
  font-size: 60px;
  letter-spacing: -0.05em;
  color: white;
  text-align: center;
}
@media (max-width: 1799px) {
  .why__subtitle {
    font-size: 36px;
    margin-top: 4px;
  }
}
@media (max-width: 767px) {
  .why__subtitle {
    font-size: 32px;
  }
}
@media (max-width: 479px) {
  .why__subtitle {
    font-size: 30px;
  }
}
.why__subtitle {
  margin-top: 30px;
}
@media (max-width: 767px) {
  .why__subtitle {
    margin-top: 5px;
  }
}
.why__text {
  font-size: 28px;
  color: white;
  text-align: center;
  margin-top: 20px;
}
@media (max-width: 1799px) {
  .why__text {
    font-size: 24px;
  }
}
@media (max-width: 991px) {
  .why__text {
    font-size: 18px;
    margin-top: 8px;
  }
}
@media (max-width: 767px) {
  .why__text {
    margin-bottom: 15px;
  }
}
.why__content {
  font-size: 30px;
  line-height: 1.3em;
  color: #023f5c;
  text-align: center;
}
@media (max-width: 1799px) {
  .why__content {
    font-size: 26px;
  }
}
@media (max-width: 1199px) {
  .why__content {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .why__content {
    font-size: 18px;
  }
}
.why__content {
  margin: 70px auto 0;
  max-width: 900px;
}
@media (max-width: 1799px) {
  .why__content {
    margin-top: 70px;
  }
}
@media (max-width: 1399px) {
  .why__content {
    max-width: 800px;
  }
}
@media (max-width: 1199px) {
  .why__content {
    max-width: 700px;
  }
}
@media (max-width: 991px) {
  .why__content {
    margin-top: 55px;
    max-width: 500px;
  }
}